# Benchmarks con el dataset de UM

El siguiente Script calculara benchmarks usando el dataset de la Universidad de Murcia, creando datos sinteticos a partir de los datos reales

## Importaciones

In [2]:
import xml.dom.minidom
import re
import uuid 
from datetime import datetime
import pickle
from pathlib import Path
from bs4 import BeautifulSoup as BS
import shutil
import os
import xml.etree.ElementTree as ET
import pandas as pd
import numpy as np
import json
import scipy

## Constantes

Expresiones Regulares

In [3]:
URL_REGEX = r"""(?i)\b((?:https?:(?:/{1,3}|[a-z0-9%])|[a-z0-9.\-]+[.](?:com|net|org|edu|gov|mil|aero|asia|biz|cat|coop|info|int|jobs|mobi|museum|name|post|pro|tel|travel|xxx|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cs|cu|cv|cx|cy|cz|dd|de|dj|dk|dm|do|dz|ec|ee|eg|eh|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kp|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|me|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|rs|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|Ja|sk|sl|sm|sn|so|sr|ss|st|su|sv|sx|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)/)(?:[^\s()<>{}\[\]]+|\([^\s()]*?\([^\s()]+\)[^\s()]*?\)|\([^\s]+?\))+(?:\([^\s()]*?\([^\s()]+\)[^\s()]*?\)|\([^\s]+?\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’])|(?:(?<!@)[a-z0-9]+(?:[.\-][a-z0-9]+)*[.](?:com|net|org|edu|gov|mil|aero|asia|biz|cat|coop|info|int|jobs|mobi|museum|name|post|pro|tel|travel|xxx|ac|ad|ae|af|ag|ai|al|am|an|ao|aq|ar|as|at|au|aw|ax|az|ba|bb|bd|be|bf|bg|bh|bi|bj|bm|bn|bo|br|bs|bt|bv|bw|by|bz|ca|cc|cd|cf|cg|ch|ci|ck|cl|cm|cn|co|cr|cs|cu|cv|cx|cy|cz|dd|de|dj|dk|dm|do|dz|ec|ee|eg|eh|er|es|et|eu|fi|fj|fk|fm|fo|fr|ga|gb|gd|ge|gf|gg|gh|gi|gl|gm|gn|gp|gq|gr|gs|gt|gu|gw|gy|hk|hm|hn|hr|ht|hu|id|ie|il|im|in|io|iq|ir|is|it|je|jm|jo|jp|ke|kg|kh|ki|km|kn|kp|kr|kw|ky|kz|la|lb|lc|li|lk|lr|ls|lt|lu|lv|ly|ma|mc|md|me|mg|mh|mk|ml|mm|mn|mo|mp|mq|mr|ms|mt|mu|mv|mw|mx|my|mz|na|nc|ne|nf|ng|ni|nl|no|np|nr|nu|nz|om|pa|pe|pf|pg|ph|pk|pl|pm|pn|pr|ps|pt|pw|py|qa|re|ro|rs|ru|rw|sa|sb|sc|sd|se|sg|sh|si|sj|Ja|sk|sl|sm|sn|so|sr|ss|st|su|sv|sx|sy|sz|tc|td|tf|tg|th|tj|tk|tl|tm|tn|to|tp|tr|tt|tv|tw|tz|ua|ug|uk|us|uy|uz|va|vc|ve|vg|vi|vn|vu|wf|ws|ye|yt|yu|za|zm|zw)\b/?(?!@)))/"""

Constantes

In [4]:
dataNumber = [50000,250000,500000,1000000,5000000] # volumen de paquetes de datos
# dataNumber = [50000,250000,500000,1000000] # numero de datos
base_dir = './data/sintetic_data/' # directorio base de datos
GENERATE_NEW_DATA = True;
GENERATE_NEW_TDB2_MEAUSERES = True
GENERATE_NEW_BLAZEGRAPH_MEAUSERES = False

## Funciones

Leer datos semilla

In [5]:
def parseRDF(path,mode,encoding='utf8'): # Read file data
    with open(path,mode, encoding=encoding) as f:
        types = set()
        RDFs = []
        rdf = ""
        in_description = False
        for line in f: # Por cada linea
            if (line.startswith("<rdf:RDF")): # Si es el principio de cada XML
                rdf = ""
                in_description = False
            elif (line.startswith("</rdf:RDF>")): # Si es el final de cada XML
                RDFs.append(rdf)
                rdf = ""
            else:
                if (line.startswith("  <rdf:Description")>0):
                    in_description = True
                elif (line.startswith("  </rdf:Description")):
                    rdf = rdf + str(line.encode(encoding, 'replace'))[2:-1].replace("\\n","\n")
                    in_description = False
                if in_description:
                    if ("<rdf:type" in line):
                        res = re.findall(URL_REGEX,line)[0].split("/")[-1] if len(re.findall(URL_REGEX,line))>0 else None
                        types.add(res)
                    rdf = rdf + str(line.encode(encoding, 'replace'))[2:-1].replace("\\n","\n") # Si es el medio del XML
        return RDFs, types

Tamaño en bytes de un string

In [6]:
def utf8len(s):
    return len(s.encode('utf-8'))

Expresion regular para identificar UUIDs

In [7]:
def create_uuid_pattern(version): # Funcion para crear regex para identificar uuid
    return re.compile(
        (
            '[a-f0-9]{8}-' +
            '[a-f0-9]{4}-' +
            version + '[a-f0-9]{3}-' +
            '[89ab][a-f0-9]{3}-' +
            '[a-f0-9]{12}'
        ),
        re.IGNORECASE
    )

Función para generar datos sinteticos (n) a partir de datos reales (data)

In [8]:
def generateData(data,n): # generacion de datos sinteticos a partir de datos reales
    if (len(data)>n):
        return data
    else:
        sintetic_data_colection = []
        sintetic_data = data.copy()
        UUID_ALL_PATTERN = create_uuid_pattern('[1-5]')
        split_size = utf8len("".join(data))
        for i in range(len(data),n): # hasta alcanzar el numero deseado
            index = i%len(data) # index in original data
            id_uuid = UUID_ALL_PATTERN.findall(RDFs[index])[0]
            if (len(id_uuid)>0):
                sintetic_data.append(RDFs[index].replace(id_uuid,str(uuid.uuid1())))
                split_size += utf8len(RDFs[index])
            if (split_size>3900000):
                sintetic_data_colection.append(sintetic_data)
                sintetic_data = []
                split_size = 0
        sintetic_data_colection.append(sintetic_data.copy())
        return sintetic_data_colection

Funciones para leer y escribir objetos en ficheros, util para reusar datos sinteticos

In [9]:
def save_obj(path, obj, name ): # Salvar objeto a fichero
    with open(path +'/'+ name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(path,name ): # leer objeto desde fichero
    with open(path +'/'+ name + '.pkl', 'rb') as f:
        return pickle.load(f)

## Generación de datos sinteticos hasta máximo

Creación de datos sinteticos para **50K, 250K, 1M, 5M, 25M**

In [11]:
prefix = """<?xml version="1.0" encoding="UTF-8" ?>
    <rdf:RDF
        xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        xmlns:j.0="http://hercules.org/um/es-ES/rec/">
    """
sufix = """</rdf:RDF>
    """

(RDFs,t) = parseRDF('./data/rdf.log','r',encoding='utf-8')

if (GENERATE_NEW_DATA):
    if (Path(base_dir).is_dir()):
        shutil.rmtree(base_dir)
    os.mkdir(base_dir)
    dataSet = {} # Estructura
    maxData = max(dataNumber)
    print('Generating sintetic data ('+str(maxData)+')')
    now = datetime.now()
    data = generateData(RDFs,maxData)
    later = datetime.now()
    print('Data ('+str(maxData)+') is generated in '+str((later - now).total_seconds()) + ' seconds')
    
    dataLen = {}
    for dn in dataNumber:
        dataLen[dn] = 0
    
    def getDataSet(dataNumber,elements):
        for dn in dataNumber:
            if dn > elements:
                return dn
    
    counter = 0
    counterElements = 0;
    for d in data:
        counter += 1
        dataSet = getDataSet(dataLen,counterElements)
        if (dataSet-counterElements)>=len(d): # Si caben todos los elementos
            file_name = f'{base_dir}dataset_{dataSet}_number_{counter}_from_{counterElements+1}_to_{(counterElements+len(d))}.txt'
            f = open(file_name, "w")
            f.write(prefix+"".join(d)+sufix)
            f.close()
            dataLen[dataSet] = dataLen[dataSet] + len(d)
            counterElements += len(d)
            print("Create file "+file_name + ' in Set ' + str(dataSet) + ' with '+ str(len(d)) + ', new elements, remaining space available: ' + str(dataLen[dataSet]))
        else:
            size_free = dataSet-counterElements
            allowed_data = d[:size_free]
            file_name = f'{base_dir}dataset_{dataSet}_number_{counter}_from_{counterElements+1}_to_{(counterElements+len(allowed_data))}.txt'
            f = open(file_name, "w")
            f.write(prefix+("".join(allowed_data))+sufix)
            f.close()
            counterElements += len(allowed_data)
            print("Create file with allowed "+file_name + ' in Set ' + str(dataSet) + ' with '+ str(len(allowed_data)) + ', new elements, remaining space available: ' + str(dataSet-counterElements))

            # Datos restantes
            remain_data = d[size_free:]
            counter += 1
            nextDataNumber = dataNumber[dataNumber.index(dataSet)+1] if dataNumber.index(dataSet)+1 < len(dataNumber) else dataNumber.index(dataSet)
            file_name = f'{base_dir}dataset_{nextDataNumber}_number_{counter}_from_{counterElements+1}_to_{(counterElements+len(remain_data))}.txt'
            f = open(file_name, "w")
            f.write(prefix+"".join(remain_data)+sufix)
            f.close()
            counterElements += len(remain_data)
            print("Create file with remain "+file_name + ' in Set ' + str(nextDataNumber) + ' with '+ str(len(remain_data)) + ', new elements, remaining space available: ' + str(nextDataNumber-counterElements) + ' int same iteration')

Generating sintetic data (5000000)
Data (5000000) is generated in 221.777097 seconds
Create file ./data/sintetic_data/dataset_50000_number_1_from_1_to_6502.txt in Set 50000 with 6502, new elements, remaining space available: 6502
Create file ./data/sintetic_data/dataset_50000_number_2_from_6503_to_13057.txt in Set 50000 with 6555, new elements, remaining space available: 13057
Create file ./data/sintetic_data/dataset_50000_number_3_from_13058_to_19636.txt in Set 50000 with 6579, new elements, remaining space available: 19636
Create file ./data/sintetic_data/dataset_50000_number_4_from_19637_to_26152.txt in Set 50000 with 6516, new elements, remaining space available: 26152
Create file ./data/sintetic_data/dataset_50000_number_5_from_26153_to_32731.txt in Set 50000 with 6579, new elements, remaining space available: 32731
Create file ./data/sintetic_data/dataset_50000_number_6_from_32732_to_39279.txt in Set 50000 with 6548, new elements, remaining space available: 39279
Create file ./data/sintetic_data/dataset_50000_number_7_from_39280_to_45802.txt in Set 50000 with 6523, new elements, remaining space available: 45802
Create file with allowed ./data/sintetic_data/dataset_50000_number_8_from_45803_to_50000.txt in Set 50000 with 4198, new elements, remaining space available: 0
Create file with remain ./data/sintetic_data/dataset_250000_number_9_from_50001_to_52392.txt in Set 250000 with 2392, new elements, remaining space available: 197608 int same iteration
Create file ./data/sintetic_data/dataset_250000_number_10_from_52393_to_58924.txt in Set 250000 with 6532, new elements, remaining space available: 6532
Create file ./data/sintetic_data/dataset_250000_number_11_from_58925_to_65459.txt in Set 250000 with 6535, new elements, remaining space available: 13067
Create file ./data/sintetic_data/dataset_250000_number_12_from_65460_to_72061.txt in Set 250000 with 6602, new elements, remaining space available: 19669
Create file ./data/sintetic_data/dataset_250000_number_13_from_72062_to_78568.txt in Set 250000 with 6507, new elements, remaining space available: 26176
Create file ./data/sintetic_data/dataset_250000_number_14_from_78569_to_85117.txt in Set 250000 with 6549, new elements, remaining space available: 32725
Create file ./data/sintetic_data/dataset_250000_number_15_from_85118_to_91723.txt in Set 250000 with 6606, new elements, remaining space available: 39331
Create file ./data/sintetic_data/dataset_250000_number_16_from_91724_to_98217.txt in Set 250000 with 6494, new elements, remaining space available: 45825
Create file ./data/sintetic_data/dataset_250000_number_17_from_98218_to_104781.txt in Set 250000 with 6564, new elements, remaining space available: 52389
Create file ./data/sintetic_data/dataset_250000_number_18_from_104782_to_111363.txt in Set 250000 with 6582, new elements, remaining space available: 58971
Create file ./data/sintetic_data/dataset_250000_number_19_from_111364_to_117872.txt in Set 250000 with 6509, new elements, remaining space available: 65480
Create file ./data/sintetic_data/dataset_250000_number_20_from_117873_to_124454.txt in Set 250000 with 6582, new elements, remaining space available: 72062
Create file ./data/sintetic_data/dataset_250000_number_21_from_124455_to_130999.txt in Set 250000 with 6545, new elements, remaining space available: 78607
Create file ./data/sintetic_data/dataset_250000_number_22_from_131000_to_137523.txt in Set 250000 with 6524, new elements, remaining space available: 85131
Create file ./data/sintetic_data/dataset_250000_number_23_from_137524_to_144116.txt in Set 250000 with 6593, new elements, remaining space available: 91724
Create file ./data/sintetic_data/dataset_250000_number_24_from_144117_to_150643.txt in Set 250000 with 6527, new elements, remaining space available: 98251
Create file ./data/sintetic_data/dataset_250000_number_25_from_150644_to_157182.txt in Set 250000 with 6539, new elements, remaining space available: 104790
Create file ./data/sintetic_data/dataset_250000_number_26_from_157183_to_163778.txt in Set 250000 with 6596, new elements, remaining space available: 111386
Create file ./data/sintetic_data/dataset_250000_number_27_from_163779_to_170289.txt in Set 250000 with 6511, new elements, remaining space available: 117897
Create file ./data/sintetic_data/dataset_250000_number_28_from_170290_to_176835.txt in Set 250000 with 6546, new elements, remaining space available: 124443
Create file ./data/sintetic_data/dataset_250000_number_29_from_176836_to_183442.txt in Set 250000 with 6607, new elements, remaining space available: 131050
Create file ./data/sintetic_data/dataset_250000_number_30_from_183443_to_189939.txt in Set 250000 with 6497, new elements, remaining space available: 137547
Create file ./data/sintetic_data/dataset_250000_number_31_from_189940_to_196499.txt in Set 250000 with 6560, new elements, remaining space available: 144107
Create file ./data/sintetic_data/dataset_250000_number_32_from_196500_to_203085.txt in Set 250000 with 6586, new elements, remaining space available: 150693
Create file ./data/sintetic_data/dataset_250000_number_33_from_203086_to_209594.txt in Set 250000 with 6509, new elements, remaining space available: 157202
Create file ./data/sintetic_data/dataset_250000_number_34_from_209595_to_216169.txt in Set 250000 with 6575, new elements, remaining space available: 163777
Create file ./data/sintetic_data/dataset_250000_number_35_from_216170_to_222726.txt in Set 250000 with 6557, new elements, remaining space available: 170334
Create file ./data/sintetic_data/dataset_250000_number_36_from_222727_to_229245.txt in Set 250000 with 6519, new elements, remaining space available: 176853
Create file ./data/sintetic_data/dataset_250000_number_37_from_229246_to_235836.txt in Set 250000 with 6591, new elements, remaining space available: 183444
Create file ./data/sintetic_data/dataset_250000_number_38_from_235837_to_242364.txt in Set 250000 with 6528, new elements, remaining space available: 189972
Create file ./data/sintetic_data/dataset_250000_number_39_from_242365_to_248900.txt in Set 250000 with 6536, new elements, remaining space available: 196508
Create file with allowed ./data/sintetic_data/dataset_250000_number_40_from_248901_to_250000.txt in Set 250000 with 1100, new elements, remaining space available: 0
Create file with remain ./data/sintetic_data/dataset_500000_number_41_from_250001_to_255493.txt in Set 500000 with 5493, new elements, remaining space available: 244507 int same iteration
Create file ./data/sintetic_data/dataset_500000_number_42_from_255494_to_262009.txt in Set 500000 with 6516, new elements, remaining space available: 6516
Create file ./data/sintetic_data/dataset_500000_number_43_from_262010_to_268551.txt in Set 500000 with 6542, new elements, remaining space available: 13058
Create file ./data/sintetic_data/dataset_500000_number_44_from_268552_to_275157.txt in Set 500000 with 6606, new elements, remaining space available: 19664
Create file ./data/sintetic_data/dataset_500000_number_45_from_275158_to_281661.txt in Set 500000 with 6504, new elements, remaining space available: 26168
Create file ./data/sintetic_data/dataset_500000_number_46_from_281662_to_288215.txt in Set 500000 with 6554, new elements, remaining space available: 32722
Create file ./data/sintetic_data/dataset_500000_number_47_from_288216_to_294806.txt in Set 500000 with 6591, new elements, remaining space available: 39313
Create file ./data/sintetic_data/dataset_500000_number_48_from_294807_to_301314.txt in Set 500000 with 6508, new elements, remaining space available: 45821
Create file ./data/sintetic_data/dataset_500000_number_49_from_301315_to_307880.txt in Set 500000 with 6566, new elements, remaining space available: 52387
Create file ./data/sintetic_data/dataset_500000_number_50_from_307881_to_314442.txt in Set 500000 with 6562, new elements, remaining space available: 58949
Create file ./data/sintetic_data/dataset_500000_number_51_from_314443_to_320965.txt in Set 500000 with 6523, new elements, remaining space available: 65472
Create file ./data/sintetic_data/dataset_500000_number_52_from_320966_to_327551.txt in Set 500000 with 6586, new elements, remaining space available: 72058
Create file ./data/sintetic_data/dataset_500000_number_53_from_327552_to_334081.txt in Set 500000 with 6530, new elements, remaining space available: 78588
Create file ./data/sintetic_data/dataset_500000_number_54_from_334082_to_340612.txt in Set 500000 with 6531, new elements, remaining space available: 85119

Create file ./data/sintetic_data/dataset_500000_number_55_from_340613_to_347206.txt in Set 500000 with 6594, new elements, remaining space available: 91713
Create file ./data/sintetic_data/dataset_500000_number_56_from_347207_to_353726.txt in Set 500000 with 6520, new elements, remaining space available: 98233
Create file ./data/sintetic_data/dataset_500000_number_57_from_353727_to_360265.txt in Set 500000 with 6539, new elements, remaining space available: 104772
Create file ./data/sintetic_data/dataset_500000_number_58_from_360266_to_366875.txt in Set 500000 with 6610, new elements, remaining space available: 111382
Create file ./data/sintetic_data/dataset_500000_number_59_from_366876_to_373377.txt in Set 500000 with 6502, new elements, remaining space available: 117884
Create file ./data/sintetic_data/dataset_500000_number_60_from_373378_to_379929.txt in Set 500000 with 6552, new elements, remaining space available: 124436
Create file ./data/sintetic_data/dataset_500000_number_61_from_379930_to_386525.txt in Set 500000 with 6596, new elements, remaining space available: 131032
Create file ./data/sintetic_data/dataset_500000_number_62_from_386526_to_393029.txt in Set 500000 with 6504, new elements, remaining space available: 137536
Create file ./data/sintetic_data/dataset_500000_number_63_from_393030_to_399597.txt in Set 500000 with 6568, new elements, remaining space available: 144104
Create file ./data/sintetic_data/dataset_500000_number_64_from_399598_to_406159.txt in Set 500000 with 6562, new elements, remaining space available: 150666
Create file ./data/sintetic_data/dataset_500000_number_65_from_406160_to_412681.txt in Set 500000 with 6522, new elements, remaining space available: 157188
Create file ./data/sintetic_data/dataset_500000_number_66_from_412682_to_419265.txt in Set 500000 with 6584, new elements, remaining space available: 163772
Create file ./data/sintetic_data/dataset_500000_number_67_from_419266_to_425801.txt in Set 500000 with 6536, new elements, remaining space available: 170308
Create file ./data/sintetic_data/dataset_500000_number_68_from_425802_to_432329.txt in Set 500000 with 6528, new elements, remaining space available: 176836
Create file ./data/sintetic_data/dataset_500000_number_69_from_432330_to_438921.txt in Set 500000 with 6592, new elements, remaining space available: 183428
Create file ./data/sintetic_data/dataset_500000_number_70_from_438922_to_445445.txt in Set 500000 with 6524, new elements, remaining space available: 189952
Create file ./data/sintetic_data/dataset_500000_number_71_from_445446_to_451982.txt in Set 500000 with 6537, new elements, remaining space available: 196489
Create file ./data/sintetic_data/dataset_500000_number_72_from_451983_to_458592.txt in Set 500000 with 6610, new elements, remaining space available: 203099
Create file ./data/sintetic_data/dataset_500000_number_73_from_458593_to_465091.txt in Set 500000 with 6499, new elements, remaining space available: 209598
Create file ./data/sintetic_data/dataset_500000_number_74_from_465092_to_471642.txt in Set 500000 with 6551, new elements, remaining space available: 216149
Create file ./data/sintetic_data/dataset_500000_number_75_from_471643_to_478243.txt in Set 500000 with 6601, new elements, remaining space available: 222750
Create file ./data/sintetic_data/dataset_500000_number_76_from_478244_to_484746.txt in Set 500000 with 6503, new elements, remaining space available: 229253
Create file ./data/sintetic_data/dataset_500000_number_77_from_484747_to_491315.txt in Set 500000 with 6569, new elements, remaining space available: 235822
Create file ./data/sintetic_data/dataset_500000_number_78_from_491316_to_497882.txt in Set 500000 with 6567, new elements, remaining space available: 242389
Create file with allowed ./data/sintetic_data/dataset_500000_number_79_from_497883_to_500000.txt in Set 500000 with 2118, new elements, remaining space available: 0
Create file with remain ./data/sintetic_data/dataset_1000000_number_80_from_500001_to_504400.txt in Set 1000000 with 4400, new elements, remaining space available: 495600 int same iteration
Create file ./data/sintetic_data/dataset_1000000_number_81_from_504401_to_510979.txt in Set 1000000 with 6579, new elements, remaining space available: 6579
Create file ./data/sintetic_data/dataset_1000000_number_82_from_510980_to_517524.txt in Set 1000000 with 6545, new elements, remaining space available: 13124
Create file ./data/sintetic_data/dataset_1000000_number_83_from_517525_to_524046.txt in Set 1000000 with 6522, new elements, remaining space available: 19646
Create file ./data/sintetic_data/dataset_1000000_number_84_from_524047_to_530641.txt in Set 1000000 with 6595, new elements, remaining space available: 26241
Create file ./data/sintetic_data/dataset_1000000_number_85_from_530642_to_537166.txt in Set 1000000 with 6525, new elements, remaining space available: 32766
Create file ./data/sintetic_data/dataset_1000000_number_86_from_537167_to_543707.txt in Set 1000000 with 6541, new elements, remaining space available: 39307
Create file ./data/sintetic_data/dataset_1000000_number_87_from_543708_to_550312.txt in Set 1000000 with 6605, new elements, remaining space available: 45912
Create file ./data/sintetic_data/dataset_1000000_number_88_from_550313_to_556816.txt in Set 1000000 with 6504, new elements, remaining space available: 52416
Create file ./data/sintetic_data/dataset_1000000_number_89_from_556817_to_563360.txt in Set 1000000 with 6544, new elements, remaining space available: 58960
Create file ./data/sintetic_data/dataset_1000000_number_90_from_563361_to_569967.txt in Set 1000000 with 6607, new elements, remaining space available: 65567
Create file ./data/sintetic_data/dataset_1000000_number_91_from_569968_to_576469.txt in Set 1000000 with 6502, new elements, remaining space available: 72069
Create file ./data/sintetic_data/dataset_1000000_number_92_from_576470_to_583025.txt in Set 1000000 with 6556, new elements, remaining space available: 78625
Create file ./data/sintetic_data/dataset_1000000_number_93_from_583026_to_589606.txt in Set 1000000 with 6581, new elements, remaining space available: 85206
Create file ./data/sintetic_data/dataset_1000000_number_94_from_589607_to_596120.txt in Set 1000000 with 6514, new elements, remaining space available: 91720
Create file ./data/sintetic_data/dataset_1000000_number_95_from_596121_to_602700.txt in Set 1000000 with 6580, new elements, remaining space available: 98300
Create file ./data/sintetic_data/dataset_1000000_number_96_from_602701_to_609248.txt in Set 1000000 with 6548, new elements, remaining space available: 104848
Create file ./data/sintetic_data/dataset_1000000_number_97_from_609249_to_615770.txt in Set 1000000 with 6522, new elements, remaining space available: 111370
Create file ./data/sintetic_data/dataset_1000000_number_98_from_615771_to_622361.txt in Set 1000000 with 6591, new elements, remaining space available: 117961
Create file ./data/sintetic_data/dataset_1000000_number_99_from_622362_to_628891.txt in Set 1000000 with 6530, new elements, remaining space available: 124491
Create file ./data/sintetic_data/dataset_1000000_number_100_from_628892_to_635427.txt in Set 1000000 with 6536, new elements, remaining space available: 131027
Create file ./data/sintetic_data/dataset_1000000_number_101_from_635428_to_642030.txt in Set 1000000 with 6603, new elements, remaining space available: 137630
Create file ./data/sintetic_data/dataset_1000000_number_102_from_642031_to_648537.txt in Set 1000000 with 6507, new elements, remaining space available: 144137
Create file ./data/sintetic_data/dataset_1000000_number_103_from_648538_to_655083.txt in Set 1000000 with 6546, new elements, remaining space available: 150683
Create file ./data/sintetic_data/dataset_1000000_number_104_from_655084_to_661689.txt in Set 1000000 with 6606, new elements, remaining space available: 157289
Create file ./data/sintetic_data/dataset_1000000_number_105_from_661690_to_668183.txt in Set 1000000 with 6494, new elements, remaining space available: 163783
Create file ./data/sintetic_data/dataset_1000000_number_106_from_668184_to_674747.txt in Set 1000000 with 6564, new elements, remaining space available: 170347

Create file ./data/sintetic_data/dataset_1000000_number_107_from_674748_to_681329.txt in Set 1000000 with 6582, new elements, remaining space available: 176929
Create file ./data/sintetic_data/dataset_1000000_number_108_from_681330_to_687838.txt in Set 1000000 with 6509, new elements, remaining space available: 183438
Create file ./data/sintetic_data/dataset_1000000_number_109_from_687839_to_694420.txt in Set 1000000 with 6582, new elements, remaining space available: 190020
Create file ./data/sintetic_data/dataset_1000000_number_110_from_694421_to_700965.txt in Set 1000000 with 6545, new elements, remaining space available: 196565
Create file ./data/sintetic_data/dataset_1000000_number_111_from_700966_to_707489.txt in Set 1000000 with 6524, new elements, remaining space available: 203089
Create file ./data/sintetic_data/dataset_1000000_number_112_from_707490_to_714082.txt in Set 1000000 with 6593, new elements, remaining space available: 209682
Create file ./data/sintetic_data/dataset_1000000_number_113_from_714083_to_720609.txt in Set 1000000 with 6527, new elements, remaining space available: 216209
Create file ./data/sintetic_data/dataset_1000000_number_114_from_720610_to_727148.txt in Set 1000000 with 6539, new elements, remaining space available: 222748
Create file ./data/sintetic_data/dataset_1000000_number_115_from_727149_to_733744.txt in Set 1000000 with 6596, new elements, remaining space available: 229344
Create file ./data/sintetic_data/dataset_1000000_number_116_from_733745_to_740255.txt in Set 1000000 with 6511, new elements, remaining space available: 235855
Create file ./data/sintetic_data/dataset_1000000_number_117_from_740256_to_746801.txt in Set 1000000 with 6546, new elements, remaining space available: 242401
Create file ./data/sintetic_data/dataset_1000000_number_118_from_746802_to_753408.txt in Set 1000000 with 6607, new elements, remaining space available: 249008
Create file ./data/sintetic_data/dataset_1000000_number_119_from_753409_to_759905.txt in Set 1000000 with 6497, new elements, remaining space available: 255505
Create file ./data/sintetic_data/dataset_1000000_number_120_from_759906_to_766465.txt in Set 1000000 with 6560, new elements, remaining space available: 262065
Create file ./data/sintetic_data/dataset_1000000_number_121_from_766466_to_773051.txt in Set 1000000 with 6586, new elements, remaining space available: 268651
Create file ./data/sintetic_data/dataset_1000000_number_122_from_773052_to_779560.txt in Set 1000000 with 6509, new elements, remaining space available: 275160
Create file ./data/sintetic_data/dataset_1000000_number_123_from_779561_to_786135.txt in Set 1000000 with 6575, new elements, remaining space available: 281735
Create file ./data/sintetic_data/dataset_1000000_number_124_from_786136_to_792692.txt in Set 1000000 with 6557, new elements, remaining space available: 288292
Create file ./data/sintetic_data/dataset_1000000_number_125_from_792693_to_799211.txt in Set 1000000 with 6519, new elements, remaining space available: 294811
Create file ./data/sintetic_data/dataset_1000000_number_126_from_799212_to_805802.txt in Set 1000000 with 6591, new elements, remaining space available: 301402
Create file ./data/sintetic_data/dataset_1000000_number_127_from_805803_to_812330.txt in Set 1000000 with 6528, new elements, remaining space available: 307930
Create file ./data/sintetic_data/dataset_1000000_number_128_from_812331_to_818866.txt in Set 1000000 with 6536, new elements, remaining space available: 314466
Create file ./data/sintetic_data/dataset_1000000_number_129_from_818867_to_825459.txt in Set 1000000 with 6593, new elements, remaining space available: 321059
Create file ./data/sintetic_data/dataset_1000000_number_130_from_825460_to_831975.txt in Set 1000000 with 6516, new elements, remaining space available: 327575
Create file ./data/sintetic_data/dataset_1000000_number_131_from_831976_to_838517.txt in Set 1000000 with 6542, new elements, remaining space available: 334117
Create file ./data/sintetic_data/dataset_1000000_number_132_from_838518_to_845123.txt in Set 1000000 with 6606, new elements, remaining space available: 340723
Create file ./data/sintetic_data/dataset_1000000_number_133_from_845124_to_851627.txt in Set 1000000 with 6504, new elements, remaining space available: 347227
Create file ./data/sintetic_data/dataset_1000000_number_134_from_851628_to_858181.txt in Set 1000000 with 6554, new elements, remaining space available: 353781
Create file ./data/sintetic_data/dataset_1000000_number_135_from_858182_to_864772.txt in Set 1000000 with 6591, new elements, remaining space available: 360372
Create file ./data/sintetic_data/dataset_1000000_number_136_from_864773_to_871280.txt in Set 1000000 with 6508, new elements, remaining space available: 366880
Create file ./data/sintetic_data/dataset_1000000_number_137_from_871281_to_877846.txt in Set 1000000 with 6566, new elements, remaining space available: 373446
Create file ./data/sintetic_data/dataset_1000000_number_138_from_877847_to_884408.txt in Set 1000000 with 6562, new elements, remaining space available: 380008
Create file ./data/sintetic_data/dataset_1000000_number_139_from_884409_to_890931.txt in Set 1000000 with 6523, new elements, remaining space available: 386531
Create file ./data/sintetic_data/dataset_1000000_number_140_from_890932_to_897517.txt in Set 1000000 with 6586, new elements, remaining space available: 393117
Create file ./data/sintetic_data/dataset_1000000_number_141_from_897518_to_904047.txt in Set 1000000 with 6530, new elements, remaining space available: 399647
Create file ./data/sintetic_data/dataset_1000000_number_142_from_904048_to_910578.txt in Set 1000000 with 6531, new elements, remaining space available: 406178
Create file ./data/sintetic_data/dataset_1000000_number_143_from_910579_to_917172.txt in Set 1000000 with 6594, new elements, remaining space available: 412772
Create file ./data/sintetic_data/dataset_1000000_number_144_from_917173_to_923692.txt in Set 1000000 with 6520, new elements, remaining space available: 419292
Create file ./data/sintetic_data/dataset_1000000_number_145_from_923693_to_930231.txt in Set 1000000 with 6539, new elements, remaining space available: 425831
Create file ./data/sintetic_data/dataset_1000000_number_146_from_930232_to_936841.txt in Set 1000000 with 6610, new elements, remaining space available: 432441
Create file ./data/sintetic_data/dataset_1000000_number_147_from_936842_to_943343.txt in Set 1000000 with 6502, new elements, remaining space available: 438943
Create file ./data/sintetic_data/dataset_1000000_number_148_from_943344_to_949895.txt in Set 1000000 with 6552, new elements, remaining space available: 445495
Create file ./data/sintetic_data/dataset_1000000_number_149_from_949896_to_956491.txt in Set 1000000 with 6596, new elements, remaining space available: 452091
Create file ./data/sintetic_data/dataset_1000000_number_150_from_956492_to_962995.txt in Set 1000000 with 6504, new elements, remaining space available: 458595
Create file ./data/sintetic_data/dataset_1000000_number_151_from_962996_to_969563.txt in Set 1000000 with 6568, new elements, remaining space available: 465163
Create file ./data/sintetic_data/dataset_1000000_number_152_from_969564_to_976125.txt in Set 1000000 with 6562, new elements, remaining space available: 471725
Create file ./data/sintetic_data/dataset_1000000_number_153_from_976126_to_982647.txt in Set 1000000 with 6522, new elements, remaining space available: 478247
Create file ./data/sintetic_data/dataset_1000000_number_154_from_982648_to_989231.txt in Set 1000000 with 6584, new elements, remaining space available: 484831
Create file ./data/sintetic_data/dataset_1000000_number_155_from_989232_to_995767.txt in Set 1000000 with 6536, new elements, remaining space available: 491367
Create file with allowed ./data/sintetic_data/dataset_1000000_number_156_from_995768_to_1000000.txt in Set 1000000 with 4233, new elements, remaining space available: 0
Create file with remain ./data/sintetic_data/dataset_5000000_number_157_from_1000001_to_1002295.txt in Set 5000000 with 2295, new elements, remaining space available: 3997705 int same iteration
Create file ./data/sintetic_data/dataset_5000000_number_158_from_1002296_to_1008887.txt in Set 5000000 with 6592, new elements, remaining space available: 6592
Create file ./data/sintetic_data/dataset_5000000_number_159_from_1008888_to_1015411.txt in Set 5000000 with 6524, new elements, remaining space available: 13116

Create file ./data/sintetic_data/dataset_5000000_number_160_from_1015412_to_1021948.txt in Set 5000000 with 6537, new elements, remaining space available: 19653
Create file ./data/sintetic_data/dataset_5000000_number_161_from_1021949_to_1028558.txt in Set 5000000 with 6610, new elements, remaining space available: 26263
Create file ./data/sintetic_data/dataset_5000000_number_162_from_1028559_to_1035057.txt in Set 5000000 with 6499, new elements, remaining space available: 32762
Create file ./data/sintetic_data/dataset_5000000_number_163_from_1035058_to_1041608.txt in Set 5000000 with 6551, new elements, remaining space available: 39313
Create file ./data/sintetic_data/dataset_5000000_number_164_from_1041609_to_1048209.txt in Set 5000000 with 6601, new elements, remaining space available: 45914
Create file ./data/sintetic_data/dataset_5000000_number_165_from_1048210_to_1054712.txt in Set 5000000 with 6503, new elements, remaining space available: 52417
Create file ./data/sintetic_data/dataset_5000000_number_166_from_1054713_to_1061281.txt in Set 5000000 with 6569, new elements, remaining space available: 58986
Create file ./data/sintetic_data/dataset_5000000_number_167_from_1061282_to_1067848.txt in Set 5000000 with 6567, new elements, remaining space available: 65553
Create file ./data/sintetic_data/dataset_5000000_number_168_from_1067849_to_1074366.txt in Set 5000000 with 6518, new elements, remaining space available: 72071
Create file ./data/sintetic_data/dataset_5000000_number_169_from_1074367_to_1080945.txt in Set 5000000 with 6579, new elements, remaining space available: 78650
Create file ./data/sintetic_data/dataset_5000000_number_170_from_1080946_to_1087490.txt in Set 5000000 with 6545, new elements, remaining space available: 85195
Create file ./data/sintetic_data/dataset_5000000_number_171_from_1087491_to_1094012.txt in Set 5000000 with 6522, new elements, remaining space available: 91717
Create file ./data/sintetic_data/dataset_5000000_number_172_from_1094013_to_1100607.txt in Set 5000000 with 6595, new elements, remaining space available: 98312
Create file ./data/sintetic_data/dataset_5000000_number_173_from_1100608_to_1107132.txt in Set 5000000 with 6525, new elements, remaining space available: 104837
Create file ./data/sintetic_data/dataset_5000000_number_174_from_1107133_to_1113673.txt in Set 5000000 with 6541, new elements, remaining space available: 111378
Create file ./data/sintetic_data/dataset_5000000_number_175_from_1113674_to_1120278.txt in Set 5000000 with 6605, new elements, remaining space available: 117983
Create file ./data/sintetic_data/dataset_5000000_number_176_from_1120279_to_1126782.txt in Set 5000000 with 6504, new elements, remaining space available: 124487
Create file ./data/sintetic_data/dataset_5000000_number_177_from_1126783_to_1133326.txt in Set 5000000 with 6544, new elements, remaining space available: 131031
Create file ./data/sintetic_data/dataset_5000000_number_178_from_1133327_to_1139933.txt in Set 5000000 with 6607, new elements, remaining space available: 137638
Create file ./data/sintetic_data/dataset_5000000_number_179_from_1139934_to_1146435.txt in Set 5000000 with 6502, new elements, remaining space available: 144140
Create file ./data/sintetic_data/dataset_5000000_number_180_from_1146436_to_1152991.txt in Set 5000000 with 6556, new elements, remaining space available: 150696
Create file ./data/sintetic_data/dataset_5000000_number_181_from_1152992_to_1159572.txt in Set 5000000 with 6581, new elements, remaining space available: 157277
Create file ./data/sintetic_data/dataset_5000000_number_182_from_1159573_to_1166086.txt in Set 5000000 with 6514, new elements, remaining space available: 163791
Create file ./data/sintetic_data/dataset_5000000_number_183_from_1166087_to_1172666.txt in Set 5000000 with 6580, new elements, remaining space available: 170371
Create file ./data/sintetic_data/dataset_5000000_number_184_from_1172667_to_1179214.txt in Set 5000000 with 6548, new elements, remaining space available: 176919
Create file ./data/sintetic_data/dataset_5000000_number_185_from_1179215_to_1185736.txt in Set 5000000 with 6522, new elements, remaining space available: 183441
Create file ./data/sintetic_data/dataset_5000000_number_186_from_1185737_to_1192327.txt in Set 5000000 with 6591, new elements, remaining space available: 190032
Create file ./data/sintetic_data/dataset_5000000_number_187_from_1192328_to_1198857.txt in Set 5000000 with 6530, new elements, remaining space available: 196562
Create file ./data/sintetic_data/dataset_5000000_number_188_from_1198858_to_1205393.txt in Set 5000000 with 6536, new elements, remaining space available: 203098
Create file ./data/sintetic_data/dataset_5000000_number_189_from_1205394_to_1211996.txt in Set 5000000 with 6603, new elements, remaining space available: 209701
Create file ./data/sintetic_data/dataset_5000000_number_190_from_1211997_to_1218503.txt in Set 5000000 with 6507, new elements, remaining space available: 216208
Create file ./data/sintetic_data/dataset_5000000_number_191_from_1218504_to_1225049.txt in Set 5000000 with 6546, new elements, remaining space available: 222754
Create file ./data/sintetic_data/dataset_5000000_number_192_from_1225050_to_1231655.txt in Set 5000000 with 6606, new elements, remaining space available: 229360
Create file ./data/sintetic_data/dataset_5000000_number_193_from_1231656_to_1238149.txt in Set 5000000 with 6494, new elements, remaining space available: 235854
Create file ./data/sintetic_data/dataset_5000000_number_194_from_1238150_to_1244713.txt in Set 5000000 with 6564, new elements, remaining space available: 242418
Create file ./data/sintetic_data/dataset_5000000_number_195_from_1244714_to_1251295.txt in Set 5000000 with 6582, new elements, remaining space available: 249000
Create file ./data/sintetic_data/dataset_5000000_number_196_from_1251296_to_1257804.txt in Set 5000000 with 6509, new elements, remaining space available: 255509
Create file ./data/sintetic_data/dataset_5000000_number_197_from_1257805_to_1264386.txt in Set 5000000 with 6582, new elements, remaining space available: 262091
Create file ./data/sintetic_data/dataset_5000000_number_198_from_1264387_to_1270931.txt in Set 5000000 with 6545, new elements, remaining space available: 268636
Create file ./data/sintetic_data/dataset_5000000_number_199_from_1270932_to_1277455.txt in Set 5000000 with 6524, new elements, remaining space available: 275160
Create file ./data/sintetic_data/dataset_5000000_number_200_from_1277456_to_1284048.txt in Set 5000000 with 6593, new elements, remaining space available: 281753
Create file ./data/sintetic_data/dataset_5000000_number_201_from_1284049_to_1290575.txt in Set 5000000 with 6527, new elements, remaining space available: 288280
Create file ./data/sintetic_data/dataset_5000000_number_202_from_1290576_to_1297114.txt in Set 5000000 with 6539, new elements, remaining space available: 294819
Create file ./data/sintetic_data/dataset_5000000_number_203_from_1297115_to_1303710.txt in Set 5000000 with 6596, new elements, remaining space available: 301415
Create file ./data/sintetic_data/dataset_5000000_number_204_from_1303711_to_1310221.txt in Set 5000000 with 6511, new elements, remaining space available: 307926
Create file ./data/sintetic_data/dataset_5000000_number_205_from_1310222_to_1316767.txt in Set 5000000 with 6546, new elements, remaining space available: 314472
Create file ./data/sintetic_data/dataset_5000000_number_206_from_1316768_to_1323374.txt in Set 5000000 with 6607, new elements, remaining space available: 321079
Create file ./data/sintetic_data/dataset_5000000_number_207_from_1323375_to_1329871.txt in Set 5000000 with 6497, new elements, remaining space available: 327576
Create file ./data/sintetic_data/dataset_5000000_number_208_from_1329872_to_1336431.txt in Set 5000000 with 6560, new elements, remaining space available: 334136
Create file ./data/sintetic_data/dataset_5000000_number_209_from_1336432_to_1343017.txt in Set 5000000 with 6586, new elements, remaining space available: 340722
Create file ./data/sintetic_data/dataset_5000000_number_210_from_1343018_to_1349526.txt in Set 5000000 with 6509, new elements, remaining space available: 347231
Create file ./data/sintetic_data/dataset_5000000_number_211_from_1349527_to_1356101.txt in Set 5000000 with 6575, new elements, remaining space available: 353806
Create file ./data/sintetic_data/dataset_5000000_number_212_from_1356102_to_1362658.txt in Set 5000000 with 6557, new elements, remaining space available: 360363

Create file ./data/sintetic_data/dataset_5000000_number_213_from_1362659_to_1369177.txt in Set 5000000 with 6519, new elements, remaining space available: 366882
Create file ./data/sintetic_data/dataset_5000000_number_214_from_1369178_to_1375768.txt in Set 5000000 with 6591, new elements, remaining space available: 373473
Create file ./data/sintetic_data/dataset_5000000_number_215_from_1375769_to_1382296.txt in Set 5000000 with 6528, new elements, remaining space available: 380001
Create file ./data/sintetic_data/dataset_5000000_number_216_from_1382297_to_1388832.txt in Set 5000000 with 6536, new elements, remaining space available: 386537
Create file ./data/sintetic_data/dataset_5000000_number_217_from_1388833_to_1395425.txt in Set 5000000 with 6593, new elements, remaining space available: 393130
Create file ./data/sintetic_data/dataset_5000000_number_218_from_1395426_to_1401941.txt in Set 5000000 with 6516, new elements, remaining space available: 399646
Create file ./data/sintetic_data/dataset_5000000_number_219_from_1401942_to_1408483.txt in Set 5000000 with 6542, new elements, remaining space available: 406188
Create file ./data/sintetic_data/dataset_5000000_number_220_from_1408484_to_1415089.txt in Set 5000000 with 6606, new elements, remaining space available: 412794
Create file ./data/sintetic_data/dataset_5000000_number_221_from_1415090_to_1421593.txt in Set 5000000 with 6504, new elements, remaining space available: 419298
Create file ./data/sintetic_data/dataset_5000000_number_222_from_1421594_to_1428147.txt in Set 5000000 with 6554, new elements, remaining space available: 425852
Create file ./data/sintetic_data/dataset_5000000_number_223_from_1428148_to_1434738.txt in Set 5000000 with 6591, new elements, remaining space available: 432443
Create file ./data/sintetic_data/dataset_5000000_number_224_from_1434739_to_1441246.txt in Set 5000000 with 6508, new elements, remaining space available: 438951
Create file ./data/sintetic_data/dataset_5000000_number_225_from_1441247_to_1447812.txt in Set 5000000 with 6566, new elements, remaining space available: 445517
Create file ./data/sintetic_data/dataset_5000000_number_226_from_1447813_to_1454374.txt in Set 5000000 with 6562, new elements, remaining space available: 452079
Create file ./data/sintetic_data/dataset_5000000_number_227_from_1454375_to_1460897.txt in Set 5000000 with 6523, new elements, remaining space available: 458602
Create file ./data/sintetic_data/dataset_5000000_number_228_from_1460898_to_1467483.txt in Set 5000000 with 6586, new elements, remaining space available: 465188
Create file ./data/sintetic_data/dataset_5000000_number_229_from_1467484_to_1474013.txt in Set 5000000 with 6530, new elements, remaining space available: 471718
Create file ./data/sintetic_data/dataset_5000000_number_230_from_1474014_to_1480544.txt in Set 5000000 with 6531, new elements, remaining space available: 478249
Create file ./data/sintetic_data/dataset_5000000_number_231_from_1480545_to_1487138.txt in Set 5000000 with 6594, new elements, remaining space available: 484843
Create file ./data/sintetic_data/dataset_5000000_number_232_from_1487139_to_1493658.txt in Set 5000000 with 6520, new elements, remaining space available: 491363
Create file ./data/sintetic_data/dataset_5000000_number_233_from_1493659_to_1500197.txt in Set 5000000 with 6539, new elements, remaining space available: 497902
Create file ./data/sintetic_data/dataset_5000000_number_234_from_1500198_to_1506807.txt in Set 5000000 with 6610, new elements, remaining space available: 504512
Create file ./data/sintetic_data/dataset_5000000_number_235_from_1506808_to_1513309.txt in Set 5000000 with 6502, new elements, remaining space available: 511014
Create file ./data/sintetic_data/dataset_5000000_number_236_from_1513310_to_1519861.txt in Set 5000000 with 6552, new elements, remaining space available: 517566
Create file ./data/sintetic_data/dataset_5000000_number_237_from_1519862_to_1526457.txt in Set 5000000 with 6596, new elements, remaining space available: 524162
Create file ./data/sintetic_data/dataset_5000000_number_238_from_1526458_to_1532961.txt in Set 5000000 with 6504, new elements, remaining space available: 530666
Create file ./data/sintetic_data/dataset_5000000_number_239_from_1532962_to_1539529.txt in Set 5000000 with 6568, new elements, remaining space available: 537234
Create file ./data/sintetic_data/dataset_5000000_number_240_from_1539530_to_1546091.txt in Set 5000000 with 6562, new elements, remaining space available: 543796
Create file ./data/sintetic_data/dataset_5000000_number_241_from_1546092_to_1552613.txt in Set 5000000 with 6522, new elements, remaining space available: 550318
Create file ./data/sintetic_data/dataset_5000000_number_242_from_1552614_to_1559197.txt in Set 5000000 with 6584, new elements, remaining space available: 556902
Create file ./data/sintetic_data/dataset_5000000_number_243_from_1559198_to_1565733.txt in Set 5000000 with 6536, new elements, remaining space available: 563438
Create file ./data/sintetic_data/dataset_5000000_number_244_from_1565734_to_1572261.txt in Set 5000000 with 6528, new elements, remaining space available: 569966
Create file ./data/sintetic_data/dataset_5000000_number_245_from_1572262_to_1578853.txt in Set 5000000 with 6592, new elements, remaining space available: 576558
Create file ./data/sintetic_data/dataset_5000000_number_246_from_1578854_to_1585377.txt in Set 5000000 with 6524, new elements, remaining space available: 583082
Create file ./data/sintetic_data/dataset_5000000_number_247_from_1585378_to_1591914.txt in Set 5000000 with 6537, new elements, remaining space available: 589619
Create file ./data/sintetic_data/dataset_5000000_number_248_from_1591915_to_1598524.txt in Set 5000000 with 6610, new elements, remaining space available: 596229
Create file ./data/sintetic_data/dataset_5000000_number_249_from_1598525_to_1605023.txt in Set 5000000 with 6499, new elements, remaining space available: 602728
Create file ./data/sintetic_data/dataset_5000000_number_250_from_1605024_to_1611574.txt in Set 5000000 with 6551, new elements, remaining space available: 609279
Create file ./data/sintetic_data/dataset_5000000_number_251_from_1611575_to_1618175.txt in Set 5000000 with 6601, new elements, remaining space available: 615880
Create file ./data/sintetic_data/dataset_5000000_number_252_from_1618176_to_1624678.txt in Set 5000000 with 6503, new elements, remaining space available: 622383
Create file ./data/sintetic_data/dataset_5000000_number_253_from_1624679_to_1631247.txt in Set 5000000 with 6569, new elements, remaining space available: 628952
Create file ./data/sintetic_data/dataset_5000000_number_254_from_1631248_to_1637814.txt in Set 5000000 with 6567, new elements, remaining space available: 635519
Create file ./data/sintetic_data/dataset_5000000_number_255_from_1637815_to_1644332.txt in Set 5000000 with 6518, new elements, remaining space available: 642037
Create file ./data/sintetic_data/dataset_5000000_number_256_from_1644333_to_1650911.txt in Set 5000000 with 6579, new elements, remaining space available: 648616
Create file ./data/sintetic_data/dataset_5000000_number_257_from_1650912_to_1657456.txt in Set 5000000 with 6545, new elements, remaining space available: 655161
Create file ./data/sintetic_data/dataset_5000000_number_258_from_1657457_to_1663978.txt in Set 5000000 with 6522, new elements, remaining space available: 661683
Create file ./data/sintetic_data/dataset_5000000_number_259_from_1663979_to_1670573.txt in Set 5000000 with 6595, new elements, remaining space available: 668278
Create file ./data/sintetic_data/dataset_5000000_number_260_from_1670574_to_1677098.txt in Set 5000000 with 6525, new elements, remaining space available: 674803
Create file ./data/sintetic_data/dataset_5000000_number_261_from_1677099_to_1683639.txt in Set 5000000 with 6541, new elements, remaining space available: 681344
Create file ./data/sintetic_data/dataset_5000000_number_262_from_1683640_to_1690244.txt in Set 5000000 with 6605, new elements, remaining space available: 687949
Create file ./data/sintetic_data/dataset_5000000_number_263_from_1690245_to_1696748.txt in Set 5000000 with 6504, new elements, remaining space available: 694453

Create file ./data/sintetic_data/dataset_5000000_number_264_from_1696749_to_1703292.txt in Set 5000000 with 6544, new elements, remaining space available: 700997
Create file ./data/sintetic_data/dataset_5000000_number_265_from_1703293_to_1709899.txt in Set 5000000 with 6607, new elements, remaining space available: 707604
Create file ./data/sintetic_data/dataset_5000000_number_266_from_1709900_to_1716401.txt in Set 5000000 with 6502, new elements, remaining space available: 714106
Create file ./data/sintetic_data/dataset_5000000_number_267_from_1716402_to_1722957.txt in Set 5000000 with 6556, new elements, remaining space available: 720662
Create file ./data/sintetic_data/dataset_5000000_number_268_from_1722958_to_1729538.txt in Set 5000000 with 6581, new elements, remaining space available: 727243
Create file ./data/sintetic_data/dataset_5000000_number_269_from_1729539_to_1736052.txt in Set 5000000 with 6514, new elements, remaining space available: 733757
Create file ./data/sintetic_data/dataset_5000000_number_270_from_1736053_to_1742632.txt in Set 5000000 with 6580, new elements, remaining space available: 740337
Create file ./data/sintetic_data/dataset_5000000_number_271_from_1742633_to_1749180.txt in Set 5000000 with 6548, new elements, remaining space available: 746885
Create file ./data/sintetic_data/dataset_5000000_number_272_from_1749181_to_1755702.txt in Set 5000000 with 6522, new elements, remaining space available: 753407
Create file ./data/sintetic_data/dataset_5000000_number_273_from_1755703_to_1762293.txt in Set 5000000 with 6591, new elements, remaining space available: 759998
Create file ./data/sintetic_data/dataset_5000000_number_274_from_1762294_to_1768823.txt in Set 5000000 with 6530, new elements, remaining space available: 766528
Create file ./data/sintetic_data/dataset_5000000_number_275_from_1768824_to_1775359.txt in Set 5000000 with 6536, new elements, remaining space available: 773064
Create file ./data/sintetic_data/dataset_5000000_number_276_from_1775360_to_1781962.txt in Set 5000000 with 6603, new elements, remaining space available: 779667
Create file ./data/sintetic_data/dataset_5000000_number_277_from_1781963_to_1788469.txt in Set 5000000 with 6507, new elements, remaining space available: 786174
Create file ./data/sintetic_data/dataset_5000000_number_278_from_1788470_to_1795015.txt in Set 5000000 with 6546, new elements, remaining space available: 792720
Create file ./data/sintetic_data/dataset_5000000_number_279_from_1795016_to_1801621.txt in Set 5000000 with 6606, new elements, remaining space available: 799326
Create file ./data/sintetic_data/dataset_5000000_number_280_from_1801622_to_1808115.txt in Set 5000000 with 6494, new elements, remaining space available: 805820
Create file ./data/sintetic_data/dataset_5000000_number_281_from_1808116_to_1814679.txt in Set 5000000 with 6564, new elements, remaining space available: 812384
Create file ./data/sintetic_data/dataset_5000000_number_282_from_1814680_to_1821261.txt in Set 5000000 with 6582, new elements, remaining space available: 818966
Create file ./data/sintetic_data/dataset_5000000_number_283_from_1821262_to_1827770.txt in Set 5000000 with 6509, new elements, remaining space available: 825475
Create file ./data/sintetic_data/dataset_5000000_number_284_from_1827771_to_1834352.txt in Set 5000000 with 6582, new elements, remaining space available: 832057
Create file ./data/sintetic_data/dataset_5000000_number_285_from_1834353_to_1840897.txt in Set 5000000 with 6545, new elements, remaining space available: 838602
Create file ./data/sintetic_data/dataset_5000000_number_286_from_1840898_to_1847421.txt in Set 5000000 with 6524, new elements, remaining space available: 845126
Create file ./data/sintetic_data/dataset_5000000_number_287_from_1847422_to_1854014.txt in Set 5000000 with 6593, new elements, remaining space available: 851719
Create file ./data/sintetic_data/dataset_5000000_number_288_from_1854015_to_1860541.txt in Set 5000000 with 6527, new elements, remaining space available: 858246
Create file ./data/sintetic_data/dataset_5000000_number_289_from_1860542_to_1867080.txt in Set 5000000 with 6539, new elements, remaining space available: 864785
Create file ./data/sintetic_data/dataset_5000000_number_290_from_1867081_to_1873676.txt in Set 5000000 with 6596, new elements, remaining space available: 871381
Create file ./data/sintetic_data/dataset_5000000_number_291_from_1873677_to_1880187.txt in Set 5000000 with 6511, new elements, remaining space available: 877892
Create file ./data/sintetic_data/dataset_5000000_number_292_from_1880188_to_1886733.txt in Set 5000000 with 6546, new elements, remaining space available: 884438
Create file ./data/sintetic_data/dataset_5000000_number_293_from_1886734_to_1893340.txt in Set 5000000 with 6607, new elements, remaining space available: 891045
Create file ./data/sintetic_data/dataset_5000000_number_294_from_1893341_to_1899837.txt in Set 5000000 with 6497, new elements, remaining space available: 897542
Create file ./data/sintetic_data/dataset_5000000_number_295_from_1899838_to_1906397.txt in Set 5000000 with 6560, new elements, remaining space available: 904102
Create file ./data/sintetic_data/dataset_5000000_number_296_from_1906398_to_1912983.txt in Set 5000000 with 6586, new elements, remaining space available: 910688
Create file ./data/sintetic_data/dataset_5000000_number_297_from_1912984_to_1919492.txt in Set 5000000 with 6509, new elements, remaining space available: 917197
Create file ./data/sintetic_data/dataset_5000000_number_298_from_1919493_to_1926067.txt in Set 5000000 with 6575, new elements, remaining space available: 923772
Create file ./data/sintetic_data/dataset_5000000_number_299_from_1926068_to_1932624.txt in Set 5000000 with 6557, new elements, remaining space available: 930329
Create file ./data/sintetic_data/dataset_5000000_number_300_from_1932625_to_1939143.txt in Set 5000000 with 6519, new elements, remaining space available: 936848
Create file ./data/sintetic_data/dataset_5000000_number_301_from_1939144_to_1945734.txt in Set 5000000 with 6591, new elements, remaining space available: 943439
Create file ./data/sintetic_data/dataset_5000000_number_302_from_1945735_to_1952262.txt in Set 5000000 with 6528, new elements, remaining space available: 949967
Create file ./data/sintetic_data/dataset_5000000_number_303_from_1952263_to_1958798.txt in Set 5000000 with 6536, new elements, remaining space available: 956503
Create file ./data/sintetic_data/dataset_5000000_number_304_from_1958799_to_1965391.txt in Set 5000000 with 6593, new elements, remaining space available: 963096
Create file ./data/sintetic_data/dataset_5000000_number_305_from_1965392_to_1971907.txt in Set 5000000 with 6516, new elements, remaining space available: 969612
Create file ./data/sintetic_data/dataset_5000000_number_306_from_1971908_to_1978449.txt in Set 5000000 with 6542, new elements, remaining space available: 976154
Create file ./data/sintetic_data/dataset_5000000_number_307_from_1978450_to_1985055.txt in Set 5000000 with 6606, new elements, remaining space available: 982760
Create file ./data/sintetic_data/dataset_5000000_number_308_from_1985056_to_1991559.txt in Set 5000000 with 6504, new elements, remaining space available: 989264
Create file ./data/sintetic_data/dataset_5000000_number_309_from_1991560_to_1998113.txt in Set 5000000 with 6554, new elements, remaining space available: 995818
Create file ./data/sintetic_data/dataset_5000000_number_310_from_1998114_to_2004704.txt in Set 5000000 with 6591, new elements, remaining space available: 1002409
Create file ./data/sintetic_data/dataset_5000000_number_311_from_2004705_to_2011212.txt in Set 5000000 with 6508, new elements, remaining space available: 1008917
Create file ./data/sintetic_data/dataset_5000000_number_312_from_2011213_to_2017778.txt in Set 5000000 with 6566, new elements, remaining space available: 1015483
Create file ./data/sintetic_data/dataset_5000000_number_313_from_2017779_to_2024340.txt in Set 5000000 with 6562, new elements, remaining space available: 1022045
Create file ./data/sintetic_data/dataset_5000000_number_314_from_2024341_to_2030863.txt in Set 5000000 with 6523, new elements, remaining space available: 1028568
Create file ./data/sintetic_data/dataset_5000000_number_315_from_2030864_to_2037449.txt in Set 5000000 with 6586, new elements, remaining space available: 1035154
Create file ./data/sintetic_data/dataset_5000000_number_316_from_2037450_to_2043979.txt in Set 5000000 with 6530, new elements, remaining space available: 1041684

Create file ./data/sintetic_data/dataset_5000000_number_317_from_2043980_to_2050510.txt in Set 5000000 with 6531, new elements, remaining space available: 1048215
Create file ./data/sintetic_data/dataset_5000000_number_318_from_2050511_to_2057104.txt in Set 5000000 with 6594, new elements, remaining space available: 1054809
Create file ./data/sintetic_data/dataset_5000000_number_319_from_2057105_to_2063624.txt in Set 5000000 with 6520, new elements, remaining space available: 1061329
Create file ./data/sintetic_data/dataset_5000000_number_320_from_2063625_to_2070163.txt in Set 5000000 with 6539, new elements, remaining space available: 1067868
Create file ./data/sintetic_data/dataset_5000000_number_321_from_2070164_to_2076773.txt in Set 5000000 with 6610, new elements, remaining space available: 1074478
Create file ./data/sintetic_data/dataset_5000000_number_322_from_2076774_to_2083275.txt in Set 5000000 with 6502, new elements, remaining space available: 1080980
Create file ./data/sintetic_data/dataset_5000000_number_323_from_2083276_to_2089827.txt in Set 5000000 with 6552, new elements, remaining space available: 1087532
Create file ./data/sintetic_data/dataset_5000000_number_324_from_2089828_to_2096423.txt in Set 5000000 with 6596, new elements, remaining space available: 1094128
Create file ./data/sintetic_data/dataset_5000000_number_325_from_2096424_to_2102927.txt in Set 5000000 with 6504, new elements, remaining space available: 1100632
Create file ./data/sintetic_data/dataset_5000000_number_326_from_2102928_to_2109495.txt in Set 5000000 with 6568, new elements, remaining space available: 1107200
Create file ./data/sintetic_data/dataset_5000000_number_327_from_2109496_to_2116057.txt in Set 5000000 with 6562, new elements, remaining space available: 1113762
Create file ./data/sintetic_data/dataset_5000000_number_328_from_2116058_to_2122579.txt in Set 5000000 with 6522, new elements, remaining space available: 1120284
Create file ./data/sintetic_data/dataset_5000000_number_329_from_2122580_to_2129163.txt in Set 5000000 with 6584, new elements, remaining space available: 1126868
Create file ./data/sintetic_data/dataset_5000000_number_330_from_2129164_to_2135699.txt in Set 5000000 with 6536, new elements, remaining space available: 1133404
Create file ./data/sintetic_data/dataset_5000000_number_331_from_2135700_to_2142227.txt in Set 5000000 with 6528, new elements, remaining space available: 1139932
Create file ./data/sintetic_data/dataset_5000000_number_332_from_2142228_to_2148819.txt in Set 5000000 with 6592, new elements, remaining space available: 1146524
Create file ./data/sintetic_data/dataset_5000000_number_333_from_2148820_to_2155343.txt in Set 5000000 with 6524, new elements, remaining space available: 1153048
Create file ./data/sintetic_data/dataset_5000000_number_334_from_2155344_to_2161880.txt in Set 5000000 with 6537, new elements, remaining space available: 1159585
Create file ./data/sintetic_data/dataset_5000000_number_335_from_2161881_to_2168490.txt in Set 5000000 with 6610, new elements, remaining space available: 1166195
Create file ./data/sintetic_data/dataset_5000000_number_336_from_2168491_to_2174989.txt in Set 5000000 with 6499, new elements, remaining space available: 1172694
Create file ./data/sintetic_data/dataset_5000000_number_337_from_2174990_to_2181540.txt in Set 5000000 with 6551, new elements, remaining space available: 1179245
Create file ./data/sintetic_data/dataset_5000000_number_338_from_2181541_to_2188141.txt in Set 5000000 with 6601, new elements, remaining space available: 1185846
Create file ./data/sintetic_data/dataset_5000000_number_339_from_2188142_to_2194644.txt in Set 5000000 with 6503, new elements, remaining space available: 1192349
Create file ./data/sintetic_data/dataset_5000000_number_340_from_2194645_to_2201213.txt in Set 5000000 with 6569, new elements, remaining space available: 1198918
Create file ./data/sintetic_data/dataset_5000000_number_341_from_2201214_to_2207780.txt in Set 5000000 with 6567, new elements, remaining space available: 1205485
Create file ./data/sintetic_data/dataset_5000000_number_342_from_2207781_to_2214298.txt in Set 5000000 with 6518, new elements, remaining space available: 1212003
Create file ./data/sintetic_data/dataset_5000000_number_343_from_2214299_to_2220877.txt in Set 5000000 with 6579, new elements, remaining space available: 1218582
Create file ./data/sintetic_data/dataset_5000000_number_344_from_2220878_to_2227422.txt in Set 5000000 with 6545, new elements, remaining space available: 1225127
Create file ./data/sintetic_data/dataset_5000000_number_345_from_2227423_to_2233944.txt in Set 5000000 with 6522, new elements, remaining space available: 1231649
Create file ./data/sintetic_data/dataset_5000000_number_346_from_2233945_to_2240539.txt in Set 5000000 with 6595, new elements, remaining space available: 1238244
Create file ./data/sintetic_data/dataset_5000000_number_347_from_2240540_to_2247064.txt in Set 5000000 with 6525, new elements, remaining space available: 1244769
Create file ./data/sintetic_data/dataset_5000000_number_348_from_2247065_to_2253605.txt in Set 5000000 with 6541, new elements, remaining space available: 1251310
Create file ./data/sintetic_data/dataset_5000000_number_349_from_2253606_to_2260210.txt in Set 5000000 with 6605, new elements, remaining space available: 1257915
Create file ./data/sintetic_data/dataset_5000000_number_350_from_2260211_to_2266714.txt in Set 5000000 with 6504, new elements, remaining space available: 1264419
Create file ./data/sintetic_data/dataset_5000000_number_351_from_2266715_to_2273258.txt in Set 5000000 with 6544, new elements, remaining space available: 1270963
Create file ./data/sintetic_data/dataset_5000000_number_352_from_2273259_to_2279865.txt in Set 5000000 with 6607, new elements, remaining space available: 1277570
Create file ./data/sintetic_data/dataset_5000000_number_353_from_2279866_to_2286367.txt in Set 5000000 with 6502, new elements, remaining space available: 1284072
Create file ./data/sintetic_data/dataset_5000000_number_354_from_2286368_to_2292923.txt in Set 5000000 with 6556, new elements, remaining space available: 1290628
Create file ./data/sintetic_data/dataset_5000000_number_355_from_2292924_to_2299504.txt in Set 5000000 with 6581, new elements, remaining space available: 1297209
Create file ./data/sintetic_data/dataset_5000000_number_356_from_2299505_to_2306018.txt in Set 5000000 with 6514, new elements, remaining space available: 1303723
Create file ./data/sintetic_data/dataset_5000000_number_357_from_2306019_to_2312598.txt in Set 5000000 with 6580, new elements, remaining space available: 1310303
Create file ./data/sintetic_data/dataset_5000000_number_358_from_2312599_to_2319146.txt in Set 5000000 with 6548, new elements, remaining space available: 1316851
Create file ./data/sintetic_data/dataset_5000000_number_359_from_2319147_to_2325668.txt in Set 5000000 with 6522, new elements, remaining space available: 1323373
Create file ./data/sintetic_data/dataset_5000000_number_360_from_2325669_to_2332259.txt in Set 5000000 with 6591, new elements, remaining space available: 1329964
Create file ./data/sintetic_data/dataset_5000000_number_361_from_2332260_to_2338789.txt in Set 5000000 with 6530, new elements, remaining space available: 1336494
Create file ./data/sintetic_data/dataset_5000000_number_362_from_2338790_to_2345325.txt in Set 5000000 with 6536, new elements, remaining space available: 1343030
Create file ./data/sintetic_data/dataset_5000000_number_363_from_2345326_to_2351928.txt in Set 5000000 with 6603, new elements, remaining space available: 1349633
Create file ./data/sintetic_data/dataset_5000000_number_364_from_2351929_to_2358435.txt in Set 5000000 with 6507, new elements, remaining space available: 1356140
Create file ./data/sintetic_data/dataset_5000000_number_365_from_2358436_to_2364981.txt in Set 5000000 with 6546, new elements, remaining space available: 1362686
Create file ./data/sintetic_data/dataset_5000000_number_366_from_2364982_to_2371587.txt in Set 5000000 with 6606, new elements, remaining space available: 1369292
Create file ./data/sintetic_data/dataset_5000000_number_367_from_2371588_to_2378081.txt in Set 5000000 with 6494, new elements, remaining space available: 1375786
Create file ./data/sintetic_data/dataset_5000000_number_368_from_2378082_to_2384645.txt in Set 5000000 with 6564, new elements, remaining space available: 1382350

Create file ./data/sintetic_data/dataset_5000000_number_369_from_2384646_to_2391227.txt in Set 5000000 with 6582, new elements, remaining space available: 1388932
Create file ./data/sintetic_data/dataset_5000000_number_370_from_2391228_to_2397736.txt in Set 5000000 with 6509, new elements, remaining space available: 1395441
Create file ./data/sintetic_data/dataset_5000000_number_371_from_2397737_to_2404318.txt in Set 5000000 with 6582, new elements, remaining space available: 1402023
Create file ./data/sintetic_data/dataset_5000000_number_372_from_2404319_to_2410863.txt in Set 5000000 with 6545, new elements, remaining space available: 1408568
Create file ./data/sintetic_data/dataset_5000000_number_373_from_2410864_to_2417387.txt in Set 5000000 with 6524, new elements, remaining space available: 1415092
Create file ./data/sintetic_data/dataset_5000000_number_374_from_2417388_to_2423980.txt in Set 5000000 with 6593, new elements, remaining space available: 1421685
Create file ./data/sintetic_data/dataset_5000000_number_375_from_2423981_to_2430507.txt in Set 5000000 with 6527, new elements, remaining space available: 1428212
Create file ./data/sintetic_data/dataset_5000000_number_376_from_2430508_to_2437046.txt in Set 5000000 with 6539, new elements, remaining space available: 1434751
Create file ./data/sintetic_data/dataset_5000000_number_377_from_2437047_to_2443642.txt in Set 5000000 with 6596, new elements, remaining space available: 1441347
Create file ./data/sintetic_data/dataset_5000000_number_378_from_2443643_to_2450153.txt in Set 5000000 with 6511, new elements, remaining space available: 1447858
Create file ./data/sintetic_data/dataset_5000000_number_379_from_2450154_to_2456699.txt in Set 5000000 with 6546, new elements, remaining space available: 1454404
Create file ./data/sintetic_data/dataset_5000000_number_380_from_2456700_to_2463306.txt in Set 5000000 with 6607, new elements, remaining space available: 1461011
Create file ./data/sintetic_data/dataset_5000000_number_381_from_2463307_to_2469803.txt in Set 5000000 with 6497, new elements, remaining space available: 1467508
Create file ./data/sintetic_data/dataset_5000000_number_382_from_2469804_to_2476363.txt in Set 5000000 with 6560, new elements, remaining space available: 1474068
Create file ./data/sintetic_data/dataset_5000000_number_383_from_2476364_to_2482949.txt in Set 5000000 with 6586, new elements, remaining space available: 1480654
Create file ./data/sintetic_data/dataset_5000000_number_384_from_2482950_to_2489458.txt in Set 5000000 with 6509, new elements, remaining space available: 1487163
Create file ./data/sintetic_data/dataset_5000000_number_385_from_2489459_to_2496033.txt in Set 5000000 with 6575, new elements, remaining space available: 1493738
Create file ./data/sintetic_data/dataset_5000000_number_386_from_2496034_to_2502590.txt in Set 5000000 with 6557, new elements, remaining space available: 1500295
Create file ./data/sintetic_data/dataset_5000000_number_387_from_2502591_to_2509109.txt in Set 5000000 with 6519, new elements, remaining space available: 1506814
Create file ./data/sintetic_data/dataset_5000000_number_388_from_2509110_to_2515700.txt in Set 5000000 with 6591, new elements, remaining space available: 1513405
Create file ./data/sintetic_data/dataset_5000000_number_389_from_2515701_to_2522228.txt in Set 5000000 with 6528, new elements, remaining space available: 1519933
Create file ./data/sintetic_data/dataset_5000000_number_390_from_2522229_to_2528764.txt in Set 5000000 with 6536, new elements, remaining space available: 1526469
Create file ./data/sintetic_data/dataset_5000000_number_391_from_2528765_to_2535357.txt in Set 5000000 with 6593, new elements, remaining space available: 1533062
Create file ./data/sintetic_data/dataset_5000000_number_392_from_2535358_to_2541873.txt in Set 5000000 with 6516, new elements, remaining space available: 1539578
Create file ./data/sintetic_data/dataset_5000000_number_393_from_2541874_to_2548415.txt in Set 5000000 with 6542, new elements, remaining space available: 1546120
Create file ./data/sintetic_data/dataset_5000000_number_394_from_2548416_to_2555021.txt in Set 5000000 with 6606, new elements, remaining space available: 1552726
Create file ./data/sintetic_data/dataset_5000000_number_395_from_2555022_to_2561525.txt in Set 5000000 with 6504, new elements, remaining space available: 1559230
Create file ./data/sintetic_data/dataset_5000000_number_396_from_2561526_to_2568079.txt in Set 5000000 with 6554, new elements, remaining space available: 1565784
Create file ./data/sintetic_data/dataset_5000000_number_397_from_2568080_to_2574670.txt in Set 5000000 with 6591, new elements, remaining space available: 1572375
Create file ./data/sintetic_data/dataset_5000000_number_398_from_2574671_to_2581178.txt in Set 5000000 with 6508, new elements, remaining space available: 1578883
Create file ./data/sintetic_data/dataset_5000000_number_399_from_2581179_to_2587744.txt in Set 5000000 with 6566, new elements, remaining space available: 1585449
Create file ./data/sintetic_data/dataset_5000000_number_400_from_2587745_to_2594306.txt in Set 5000000 with 6562, new elements, remaining space available: 1592011
Create file ./data/sintetic_data/dataset_5000000_number_401_from_2594307_to_2600829.txt in Set 5000000 with 6523, new elements, remaining space available: 1598534
Create file ./data/sintetic_data/dataset_5000000_number_402_from_2600830_to_2607415.txt in Set 5000000 with 6586, new elements, remaining space available: 1605120
Create file ./data/sintetic_data/dataset_5000000_number_403_from_2607416_to_2613945.txt in Set 5000000 with 6530, new elements, remaining space available: 1611650
Create file ./data/sintetic_data/dataset_5000000_number_404_from_2613946_to_2620476.txt in Set 5000000 with 6531, new elements, remaining space available: 1618181
Create file ./data/sintetic_data/dataset_5000000_number_405_from_2620477_to_2627070.txt in Set 5000000 with 6594, new elements, remaining space available: 1624775
Create file ./data/sintetic_data/dataset_5000000_number_406_from_2627071_to_2633590.txt in Set 5000000 with 6520, new elements, remaining space available: 1631295
Create file ./data/sintetic_data/dataset_5000000_number_407_from_2633591_to_2640129.txt in Set 5000000 with 6539, new elements, remaining space available: 1637834
Create file ./data/sintetic_data/dataset_5000000_number_408_from_2640130_to_2646739.txt in Set 5000000 with 6610, new elements, remaining space available: 1644444
Create file ./data/sintetic_data/dataset_5000000_number_409_from_2646740_to_2653241.txt in Set 5000000 with 6502, new elements, remaining space available: 1650946
Create file ./data/sintetic_data/dataset_5000000_number_410_from_2653242_to_2659793.txt in Set 5000000 with 6552, new elements, remaining space available: 1657498
Create file ./data/sintetic_data/dataset_5000000_number_411_from_2659794_to_2666389.txt in Set 5000000 with 6596, new elements, remaining space available: 1664094
Create file ./data/sintetic_data/dataset_5000000_number_412_from_2666390_to_2672893.txt in Set 5000000 with 6504, new elements, remaining space available: 1670598
Create file ./data/sintetic_data/dataset_5000000_number_413_from_2672894_to_2679461.txt in Set 5000000 with 6568, new elements, remaining space available: 1677166
Create file ./data/sintetic_data/dataset_5000000_number_414_from_2679462_to_2686023.txt in Set 5000000 with 6562, new elements, remaining space available: 1683728
Create file ./data/sintetic_data/dataset_5000000_number_415_from_2686024_to_2692545.txt in Set 5000000 with 6522, new elements, remaining space available: 1690250
Create file ./data/sintetic_data/dataset_5000000_number_416_from_2692546_to_2699129.txt in Set 5000000 with 6584, new elements, remaining space available: 1696834
Create file ./data/sintetic_data/dataset_5000000_number_417_from_2699130_to_2705665.txt in Set 5000000 with 6536, new elements, remaining space available: 1703370
Create file ./data/sintetic_data/dataset_5000000_number_418_from_2705666_to_2712193.txt in Set 5000000 with 6528, new elements, remaining space available: 1709898

Create file ./data/sintetic_data/dataset_5000000_number_419_from_2712194_to_2718785.txt in Set 5000000 with 6592, new elements, remaining space available: 1716490
Create file ./data/sintetic_data/dataset_5000000_number_420_from_2718786_to_2725309.txt in Set 5000000 with 6524, new elements, remaining space available: 1723014
Create file ./data/sintetic_data/dataset_5000000_number_421_from_2725310_to_2731846.txt in Set 5000000 with 6537, new elements, remaining space available: 1729551
Create file ./data/sintetic_data/dataset_5000000_number_422_from_2731847_to_2738456.txt in Set 5000000 with 6610, new elements, remaining space available: 1736161
Create file ./data/sintetic_data/dataset_5000000_number_423_from_2738457_to_2744955.txt in Set 5000000 with 6499, new elements, remaining space available: 1742660
Create file ./data/sintetic_data/dataset_5000000_number_424_from_2744956_to_2751506.txt in Set 5000000 with 6551, new elements, remaining space available: 1749211
Create file ./data/sintetic_data/dataset_5000000_number_425_from_2751507_to_2758107.txt in Set 5000000 with 6601, new elements, remaining space available: 1755812
Create file ./data/sintetic_data/dataset_5000000_number_426_from_2758108_to_2764610.txt in Set 5000000 with 6503, new elements, remaining space available: 1762315
Create file ./data/sintetic_data/dataset_5000000_number_427_from_2764611_to_2771179.txt in Set 5000000 with 6569, new elements, remaining space available: 1768884
Create file ./data/sintetic_data/dataset_5000000_number_428_from_2771180_to_2777746.txt in Set 5000000 with 6567, new elements, remaining space available: 1775451
Create file ./data/sintetic_data/dataset_5000000_number_429_from_2777747_to_2784264.txt in Set 5000000 with 6518, new elements, remaining space available: 1781969
Create file ./data/sintetic_data/dataset_5000000_number_430_from_2784265_to_2790843.txt in Set 5000000 with 6579, new elements, remaining space available: 1788548
Create file ./data/sintetic_data/dataset_5000000_number_431_from_2790844_to_2797388.txt in Set 5000000 with 6545, new elements, remaining space available: 1795093
Create file ./data/sintetic_data/dataset_5000000_number_432_from_2797389_to_2803910.txt in Set 5000000 with 6522, new elements, remaining space available: 1801615
Create file ./data/sintetic_data/dataset_5000000_number_433_from_2803911_to_2810505.txt in Set 5000000 with 6595, new elements, remaining space available: 1808210
Create file ./data/sintetic_data/dataset_5000000_number_434_from_2810506_to_2817030.txt in Set 5000000 with 6525, new elements, remaining space available: 1814735
Create file ./data/sintetic_data/dataset_5000000_number_435_from_2817031_to_2823571.txt in Set 5000000 with 6541, new elements, remaining space available: 1821276
Create file ./data/sintetic_data/dataset_5000000_number_436_from_2823572_to_2830176.txt in Set 5000000 with 6605, new elements, remaining space available: 1827881
Create file ./data/sintetic_data/dataset_5000000_number_437_from_2830177_to_2836680.txt in Set 5000000 with 6504, new elements, remaining space available: 1834385
Create file ./data/sintetic_data/dataset_5000000_number_438_from_2836681_to_2843224.txt in Set 5000000 with 6544, new elements, remaining space available: 1840929
Create file ./data/sintetic_data/dataset_5000000_number_439_from_2843225_to_2849831.txt in Set 5000000 with 6607, new elements, remaining space available: 1847536
Create file ./data/sintetic_data/dataset_5000000_number_440_from_2849832_to_2856333.txt in Set 5000000 with 6502, new elements, remaining space available: 1854038
Create file ./data/sintetic_data/dataset_5000000_number_441_from_2856334_to_2862889.txt in Set 5000000 with 6556, new elements, remaining space available: 1860594
Create file ./data/sintetic_data/dataset_5000000_number_442_from_2862890_to_2869470.txt in Set 5000000 with 6581, new elements, remaining space available: 1867175
Create file ./data/sintetic_data/dataset_5000000_number_443_from_2869471_to_2875984.txt in Set 5000000 with 6514, new elements, remaining space available: 1873689
Create file ./data/sintetic_data/dataset_5000000_number_444_from_2875985_to_2882564.txt in Set 5000000 with 6580, new elements, remaining space available: 1880269
Create file ./data/sintetic_data/dataset_5000000_number_445_from_2882565_to_2889112.txt in Set 5000000 with 6548, new elements, remaining space available: 1886817
Create file ./data/sintetic_data/dataset_5000000_number_446_from_2889113_to_2895634.txt in Set 5000000 with 6522, new elements, remaining space available: 1893339
Create file ./data/sintetic_data/dataset_5000000_number_447_from_2895635_to_2902225.txt in Set 5000000 with 6591, new elements, remaining space available: 1899930
Create file ./data/sintetic_data/dataset_5000000_number_448_from_2902226_to_2908755.txt in Set 5000000 with 6530, new elements, remaining space available: 1906460
Create file ./data/sintetic_data/dataset_5000000_number_449_from_2908756_to_2915291.txt in Set 5000000 with 6536, new elements, remaining space available: 1912996
Create file ./data/sintetic_data/dataset_5000000_number_450_from_2915292_to_2921894.txt in Set 5000000 with 6603, new elements, remaining space available: 1919599
Create file ./data/sintetic_data/dataset_5000000_number_451_from_2921895_to_2928401.txt in Set 5000000 with 6507, new elements, remaining space available: 1926106
Create file ./data/sintetic_data/dataset_5000000_number_452_from_2928402_to_2934947.txt in Set 5000000 with 6546, new elements, remaining space available: 1932652
Create file ./data/sintetic_data/dataset_5000000_number_453_from_2934948_to_2941553.txt in Set 5000000 with 6606, new elements, remaining space available: 1939258
Create file ./data/sintetic_data/dataset_5000000_number_454_from_2941554_to_2948047.txt in Set 5000000 with 6494, new elements, remaining space available: 1945752
Create file ./data/sintetic_data/dataset_5000000_number_455_from_2948048_to_2954611.txt in Set 5000000 with 6564, new elements, remaining space available: 1952316
Create file ./data/sintetic_data/dataset_5000000_number_456_from_2954612_to_2961193.txt in Set 5000000 with 6582, new elements, remaining space available: 1958898
Create file ./data/sintetic_data/dataset_5000000_number_457_from_2961194_to_2967702.txt in Set 5000000 with 6509, new elements, remaining space available: 1965407
Create file ./data/sintetic_data/dataset_5000000_number_458_from_2967703_to_2974284.txt in Set 5000000 with 6582, new elements, remaining space available: 1971989
Create file ./data/sintetic_data/dataset_5000000_number_459_from_2974285_to_2980829.txt in Set 5000000 with 6545, new elements, remaining space available: 1978534
Create file ./data/sintetic_data/dataset_5000000_number_460_from_2980830_to_2987353.txt in Set 5000000 with 6524, new elements, remaining space available: 1985058
Create file ./data/sintetic_data/dataset_5000000_number_461_from_2987354_to_2993946.txt in Set 5000000 with 6593, new elements, remaining space available: 1991651
Create file ./data/sintetic_data/dataset_5000000_number_462_from_2993947_to_3000473.txt in Set 5000000 with 6527, new elements, remaining space available: 1998178
Create file ./data/sintetic_data/dataset_5000000_number_463_from_3000474_to_3007012.txt in Set 5000000 with 6539, new elements, remaining space available: 2004717
Create file ./data/sintetic_data/dataset_5000000_number_464_from_3007013_to_3013608.txt in Set 5000000 with 6596, new elements, remaining space available: 2011313
Create file ./data/sintetic_data/dataset_5000000_number_465_from_3013609_to_3020119.txt in Set 5000000 with 6511, new elements, remaining space available: 2017824
Create file ./data/sintetic_data/dataset_5000000_number_466_from_3020120_to_3026665.txt in Set 5000000 with 6546, new elements, remaining space available: 2024370
Create file ./data/sintetic_data/dataset_5000000_number_467_from_3026666_to_3033272.txt in Set 5000000 with 6607, new elements, remaining space available: 2030977
Create file ./data/sintetic_data/dataset_5000000_number_468_from_3033273_to_3039769.txt in Set 5000000 with 6497, new elements, remaining space available: 2037474
Create file ./data/sintetic_data/dataset_5000000_number_469_from_3039770_to_3046329.txt in Set 5000000 with 6560, new elements, remaining space available: 2044034
Create file ./data/sintetic_data/dataset_5000000_number_470_from_3046330_to_3052915.txt in Set 5000000 with 6586, new elements, remaining space available: 2050620
Create file ./data/sintetic_data/dataset_5000000_number_471_from_3052916_to_3059424.txt in Set 5000000 with 6509, new elements, remaining space available: 2057129
Create file ./data/sintetic_data/dataset_5000000_number_472_from_3059425_to_3065999.txt in Set 5000000 with 6575, new elements, remaining space available: 2063704
Create file ./data/sintetic_data/dataset_5000000_number_473_from_3066000_to_3072556.txt in Set 5000000 with 6557, new elements, remaining space available: 2070261

Create file ./data/sintetic_data/dataset_5000000_number_474_from_3072557_to_3079075.txt in Set 5000000 with 6519, new elements, remaining space available: 2076780
Create file ./data/sintetic_data/dataset_5000000_number_475_from_3079076_to_3085666.txt in Set 5000000 with 6591, new elements, remaining space available: 2083371
Create file ./data/sintetic_data/dataset_5000000_number_476_from_3085667_to_3092194.txt in Set 5000000 with 6528, new elements, remaining space available: 2089899
Create file ./data/sintetic_data/dataset_5000000_number_477_from_3092195_to_3098730.txt in Set 5000000 with 6536, new elements, remaining space available: 2096435
Create file ./data/sintetic_data/dataset_5000000_number_478_from_3098731_to_3105323.txt in Set 5000000 with 6593, new elements, remaining space available: 2103028
Create file ./data/sintetic_data/dataset_5000000_number_479_from_3105324_to_3111839.txt in Set 5000000 with 6516, new elements, remaining space available: 2109544
Create file ./data/sintetic_data/dataset_5000000_number_480_from_3111840_to_3118381.txt in Set 5000000 with 6542, new elements, remaining space available: 2116086
Create file ./data/sintetic_data/dataset_5000000_number_481_from_3118382_to_3124987.txt in Set 5000000 with 6606, new elements, remaining space available: 2122692
Create file ./data/sintetic_data/dataset_5000000_number_482_from_3124988_to_3131491.txt in Set 5000000 with 6504, new elements, remaining space available: 2129196
Create file ./data/sintetic_data/dataset_5000000_number_483_from_3131492_to_3138045.txt in Set 5000000 with 6554, new elements, remaining space available: 2135750
Create file ./data/sintetic_data/dataset_5000000_number_484_from_3138046_to_3144636.txt in Set 5000000 with 6591, new elements, remaining space available: 2142341
Create file ./data/sintetic_data/dataset_5000000_number_485_from_3144637_to_3151144.txt in Set 5000000 with 6508, new elements, remaining space available: 2148849
Create file ./data/sintetic_data/dataset_5000000_number_486_from_3151145_to_3157710.txt in Set 5000000 with 6566, new elements, remaining space available: 2155415
Create file ./data/sintetic_data/dataset_5000000_number_487_from_3157711_to_3164272.txt in Set 5000000 with 6562, new elements, remaining space available: 2161977
Create file ./data/sintetic_data/dataset_5000000_number_488_from_3164273_to_3170795.txt in Set 5000000 with 6523, new elements, remaining space available: 2168500
Create file ./data/sintetic_data/dataset_5000000_number_489_from_3170796_to_3177381.txt in Set 5000000 with 6586, new elements, remaining space available: 2175086
Create file ./data/sintetic_data/dataset_5000000_number_490_from_3177382_to_3183911.txt in Set 5000000 with 6530, new elements, remaining space available: 2181616
Create file ./data/sintetic_data/dataset_5000000_number_491_from_3183912_to_3190442.txt in Set 5000000 with 6531, new elements, remaining space available: 2188147
Create file ./data/sintetic_data/dataset_5000000_number_492_from_3190443_to_3197036.txt in Set 5000000 with 6594, new elements, remaining space available: 2194741
Create file ./data/sintetic_data/dataset_5000000_number_493_from_3197037_to_3203556.txt in Set 5000000 with 6520, new elements, remaining space available: 2201261
Create file ./data/sintetic_data/dataset_5000000_number_494_from_3203557_to_3210095.txt in Set 5000000 with 6539, new elements, remaining space available: 2207800
Create file ./data/sintetic_data/dataset_5000000_number_495_from_3210096_to_3216705.txt in Set 5000000 with 6610, new elements, remaining space available: 2214410
Create file ./data/sintetic_data/dataset_5000000_number_496_from_3216706_to_3223207.txt in Set 5000000 with 6502, new elements, remaining space available: 2220912
Create file ./data/sintetic_data/dataset_5000000_number_497_from_3223208_to_3229759.txt in Set 5000000 with 6552, new elements, remaining space available: 2227464
Create file ./data/sintetic_data/dataset_5000000_number_498_from_3229760_to_3236355.txt in Set 5000000 with 6596, new elements, remaining space available: 2234060
Create file ./data/sintetic_data/dataset_5000000_number_499_from_3236356_to_3242859.txt in Set 5000000 with 6504, new elements, remaining space available: 2240564
Create file ./data/sintetic_data/dataset_5000000_number_500_from_3242860_to_3249427.txt in Set 5000000 with 6568, new elements, remaining space available: 2247132
Create file ./data/sintetic_data/dataset_5000000_number_501_from_3249428_to_3255989.txt in Set 5000000 with 6562, new elements, remaining space available: 2253694
Create file ./data/sintetic_data/dataset_5000000_number_502_from_3255990_to_3262511.txt in Set 5000000 with 6522, new elements, remaining space available: 2260216
Create file ./data/sintetic_data/dataset_5000000_number_503_from_3262512_to_3269095.txt in Set 5000000 with 6584, new elements, remaining space available: 2266800
Create file ./data/sintetic_data/dataset_5000000_number_504_from_3269096_to_3275631.txt in Set 5000000 with 6536, new elements, remaining space available: 2273336
Create file ./data/sintetic_data/dataset_5000000_number_505_from_3275632_to_3282159.txt in Set 5000000 with 6528, new elements, remaining space available: 2279864
Create file ./data/sintetic_data/dataset_5000000_number_506_from_3282160_to_3288751.txt in Set 5000000 with 6592, new elements, remaining space available: 2286456
Create file ./data/sintetic_data/dataset_5000000_number_507_from_3288752_to_3295275.txt in Set 5000000 with 6524, new elements, remaining space available: 2292980
Create file ./data/sintetic_data/dataset_5000000_number_508_from_3295276_to_3301812.txt in Set 5000000 with 6537, new elements, remaining space available: 2299517
Create file ./data/sintetic_data/dataset_5000000_number_509_from_3301813_to_3308422.txt in Set 5000000 with 6610, new elements, remaining space available: 2306127
Create file ./data/sintetic_data/dataset_5000000_number_510_from_3308423_to_3314921.txt in Set 5000000 with 6499, new elements, remaining space available: 2312626
Create file ./data/sintetic_data/dataset_5000000_number_511_from_3314922_to_3321472.txt in Set 5000000 with 6551, new elements, remaining space available: 2319177
Create file ./data/sintetic_data/dataset_5000000_number_512_from_3321473_to_3328073.txt in Set 5000000 with 6601, new elements, remaining space available: 2325778
Create file ./data/sintetic_data/dataset_5000000_number_513_from_3328074_to_3334576.txt in Set 5000000 with 6503, new elements, remaining space available: 2332281
Create file ./data/sintetic_data/dataset_5000000_number_514_from_3334577_to_3341145.txt in Set 5000000 with 6569, new elements, remaining space available: 2338850
Create file ./data/sintetic_data/dataset_5000000_number_515_from_3341146_to_3347712.txt in Set 5000000 with 6567, new elements, remaining space available: 2345417
Create file ./data/sintetic_data/dataset_5000000_number_516_from_3347713_to_3354230.txt in Set 5000000 with 6518, new elements, remaining space available: 2351935
Create file ./data/sintetic_data/dataset_5000000_number_517_from_3354231_to_3360809.txt in Set 5000000 with 6579, new elements, remaining space available: 2358514
Create file ./data/sintetic_data/dataset_5000000_number_518_from_3360810_to_3367354.txt in Set 5000000 with 6545, new elements, remaining space available: 2365059
Create file ./data/sintetic_data/dataset_5000000_number_519_from_3367355_to_3373876.txt in Set 5000000 with 6522, new elements, remaining space available: 2371581
Create file ./data/sintetic_data/dataset_5000000_number_520_from_3373877_to_3380471.txt in Set 5000000 with 6595, new elements, remaining space available: 2378176
Create file ./data/sintetic_data/dataset_5000000_number_521_from_3380472_to_3386996.txt in Set 5000000 with 6525, new elements, remaining space available: 2384701
Create file ./data/sintetic_data/dataset_5000000_number_522_from_3386997_to_3393537.txt in Set 5000000 with 6541, new elements, remaining space available: 2391242
Create file ./data/sintetic_data/dataset_5000000_number_523_from_3393538_to_3400142.txt in Set 5000000 with 6605, new elements, remaining space available: 2397847
Create file ./data/sintetic_data/dataset_5000000_number_524_from_3400143_to_3406646.txt in Set 5000000 with 6504, new elements, remaining space available: 2404351
Create file ./data/sintetic_data/dataset_5000000_number_525_from_3406647_to_3413190.txt in Set 5000000 with 6544, new elements, remaining space available: 2410895
Create file ./data/sintetic_data/dataset_5000000_number_526_from_3413191_to_3419797.txt in Set 5000000 with 6607, new elements, remaining space available: 2417502

Create file ./data/sintetic_data/dataset_5000000_number_527_from_3419798_to_3426299.txt in Set 5000000 with 6502, new elements, remaining space available: 2424004
Create file ./data/sintetic_data/dataset_5000000_number_528_from_3426300_to_3432855.txt in Set 5000000 with 6556, new elements, remaining space available: 2430560
Create file ./data/sintetic_data/dataset_5000000_number_529_from_3432856_to_3439436.txt in Set 5000000 with 6581, new elements, remaining space available: 2437141
Create file ./data/sintetic_data/dataset_5000000_number_530_from_3439437_to_3445950.txt in Set 5000000 with 6514, new elements, remaining space available: 2443655
Create file ./data/sintetic_data/dataset_5000000_number_531_from_3445951_to_3452530.txt in Set 5000000 with 6580, new elements, remaining space available: 2450235
Create file ./data/sintetic_data/dataset_5000000_number_532_from_3452531_to_3459078.txt in Set 5000000 with 6548, new elements, remaining space available: 2456783
Create file ./data/sintetic_data/dataset_5000000_number_533_from_3459079_to_3465600.txt in Set 5000000 with 6522, new elements, remaining space available: 2463305
Create file ./data/sintetic_data/dataset_5000000_number_534_from_3465601_to_3472191.txt in Set 5000000 with 6591, new elements, remaining space available: 2469896
Create file ./data/sintetic_data/dataset_5000000_number_535_from_3472192_to_3478721.txt in Set 5000000 with 6530, new elements, remaining space available: 2476426
Create file ./data/sintetic_data/dataset_5000000_number_536_from_3478722_to_3485257.txt in Set 5000000 with 6536, new elements, remaining space available: 2482962
Create file ./data/sintetic_data/dataset_5000000_number_537_from_3485258_to_3491860.txt in Set 5000000 with 6603, new elements, remaining space available: 2489565
Create file ./data/sintetic_data/dataset_5000000_number_538_from_3491861_to_3498367.txt in Set 5000000 with 6507, new elements, remaining space available: 2496072
Create file ./data/sintetic_data/dataset_5000000_number_539_from_3498368_to_3504913.txt in Set 5000000 with 6546, new elements, remaining space available: 2502618
Create file ./data/sintetic_data/dataset_5000000_number_540_from_3504914_to_3511519.txt in Set 5000000 with 6606, new elements, remaining space available: 2509224
Create file ./data/sintetic_data/dataset_5000000_number_541_from_3511520_to_3518013.txt in Set 5000000 with 6494, new elements, remaining space available: 2515718
Create file ./data/sintetic_data/dataset_5000000_number_542_from_3518014_to_3524577.txt in Set 5000000 with 6564, new elements, remaining space available: 2522282
Create file ./data/sintetic_data/dataset_5000000_number_543_from_3524578_to_3531159.txt in Set 5000000 with 6582, new elements, remaining space available: 2528864
Create file ./data/sintetic_data/dataset_5000000_number_544_from_3531160_to_3537668.txt in Set 5000000 with 6509, new elements, remaining space available: 2535373
Create file ./data/sintetic_data/dataset_5000000_number_545_from_3537669_to_3544250.txt in Set 5000000 with 6582, new elements, remaining space available: 2541955
Create file ./data/sintetic_data/dataset_5000000_number_546_from_3544251_to_3550795.txt in Set 5000000 with 6545, new elements, remaining space available: 2548500
Create file ./data/sintetic_data/dataset_5000000_number_547_from_3550796_to_3557319.txt in Set 5000000 with 6524, new elements, remaining space available: 2555024
Create file ./data/sintetic_data/dataset_5000000_number_548_from_3557320_to_3563912.txt in Set 5000000 with 6593, new elements, remaining space available: 2561617
Create file ./data/sintetic_data/dataset_5000000_number_549_from_3563913_to_3570439.txt in Set 5000000 with 6527, new elements, remaining space available: 2568144
Create file ./data/sintetic_data/dataset_5000000_number_550_from_3570440_to_3576978.txt in Set 5000000 with 6539, new elements, remaining space available: 2574683
Create file ./data/sintetic_data/dataset_5000000_number_551_from_3576979_to_3583574.txt in Set 5000000 with 6596, new elements, remaining space available: 2581279
Create file ./data/sintetic_data/dataset_5000000_number_552_from_3583575_to_3590085.txt in Set 5000000 with 6511, new elements, remaining space available: 2587790
Create file ./data/sintetic_data/dataset_5000000_number_553_from_3590086_to_3596631.txt in Set 5000000 with 6546, new elements, remaining space available: 2594336
Create file ./data/sintetic_data/dataset_5000000_number_554_from_3596632_to_3603238.txt in Set 5000000 with 6607, new elements, remaining space available: 2600943
Create file ./data/sintetic_data/dataset_5000000_number_555_from_3603239_to_3609735.txt in Set 5000000 with 6497, new elements, remaining space available: 2607440
Create file ./data/sintetic_data/dataset_5000000_number_556_from_3609736_to_3616295.txt in Set 5000000 with 6560, new elements, remaining space available: 2614000
Create file ./data/sintetic_data/dataset_5000000_number_557_from_3616296_to_3622881.txt in Set 5000000 with 6586, new elements, remaining space available: 2620586
Create file ./data/sintetic_data/dataset_5000000_number_558_from_3622882_to_3629390.txt in Set 5000000 with 6509, new elements, remaining space available: 2627095
Create file ./data/sintetic_data/dataset_5000000_number_559_from_3629391_to_3635965.txt in Set 5000000 with 6575, new elements, remaining space available: 2633670
Create file ./data/sintetic_data/dataset_5000000_number_560_from_3635966_to_3642522.txt in Set 5000000 with 6557, new elements, remaining space available: 2640227
Create file ./data/sintetic_data/dataset_5000000_number_561_from_3642523_to_3649041.txt in Set 5000000 with 6519, new elements, remaining space available: 2646746
Create file ./data/sintetic_data/dataset_5000000_number_562_from_3649042_to_3655632.txt in Set 5000000 with 6591, new elements, remaining space available: 2653337
Create file ./data/sintetic_data/dataset_5000000_number_563_from_3655633_to_3662160.txt in Set 5000000 with 6528, new elements, remaining space available: 2659865
Create file ./data/sintetic_data/dataset_5000000_number_564_from_3662161_to_3668696.txt in Set 5000000 with 6536, new elements, remaining space available: 2666401
Create file ./data/sintetic_data/dataset_5000000_number_565_from_3668697_to_3675289.txt in Set 5000000 with 6593, new elements, remaining space available: 2672994
Create file ./data/sintetic_data/dataset_5000000_number_566_from_3675290_to_3681805.txt in Set 5000000 with 6516, new elements, remaining space available: 2679510
Create file ./data/sintetic_data/dataset_5000000_number_567_from_3681806_to_3688347.txt in Set 5000000 with 6542, new elements, remaining space available: 2686052
Create file ./data/sintetic_data/dataset_5000000_number_568_from_3688348_to_3694953.txt in Set 5000000 with 6606, new elements, remaining space available: 2692658
Create file ./data/sintetic_data/dataset_5000000_number_569_from_3694954_to_3701457.txt in Set 5000000 with 6504, new elements, remaining space available: 2699162
Create file ./data/sintetic_data/dataset_5000000_number_570_from_3701458_to_3708011.txt in Set 5000000 with 6554, new elements, remaining space available: 2705716
Create file ./data/sintetic_data/dataset_5000000_number_571_from_3708012_to_3714602.txt in Set 5000000 with 6591, new elements, remaining space available: 2712307
Create file ./data/sintetic_data/dataset_5000000_number_572_from_3714603_to_3721110.txt in Set 5000000 with 6508, new elements, remaining space available: 2718815
Create file ./data/sintetic_data/dataset_5000000_number_573_from_3721111_to_3727676.txt in Set 5000000 with 6566, new elements, remaining space available: 2725381
Create file ./data/sintetic_data/dataset_5000000_number_574_from_3727677_to_3734238.txt in Set 5000000 with 6562, new elements, remaining space available: 2731943
Create file ./data/sintetic_data/dataset_5000000_number_575_from_3734239_to_3740761.txt in Set 5000000 with 6523, new elements, remaining space available: 2738466
Create file ./data/sintetic_data/dataset_5000000_number_576_from_3740762_to_3747347.txt in Set 5000000 with 6586, new elements, remaining space available: 2745052
Create file ./data/sintetic_data/dataset_5000000_number_577_from_3747348_to_3753877.txt in Set 5000000 with 6530, new elements, remaining space available: 2751582
Create file ./data/sintetic_data/dataset_5000000_number_578_from_3753878_to_3760408.txt in Set 5000000 with 6531, new elements, remaining space available: 2758113

Create file ./data/sintetic_data/dataset_5000000_number_579_from_3760409_to_3767002.txt in Set 5000000 with 6594, new elements, remaining space available: 2764707
Create file ./data/sintetic_data/dataset_5000000_number_580_from_3767003_to_3773522.txt in Set 5000000 with 6520, new elements, remaining space available: 2771227
Create file ./data/sintetic_data/dataset_5000000_number_581_from_3773523_to_3780061.txt in Set 5000000 with 6539, new elements, remaining space available: 2777766
Create file ./data/sintetic_data/dataset_5000000_number_582_from_3780062_to_3786671.txt in Set 5000000 with 6610, new elements, remaining space available: 2784376
Create file ./data/sintetic_data/dataset_5000000_number_583_from_3786672_to_3793173.txt in Set 5000000 with 6502, new elements, remaining space available: 2790878
Create file ./data/sintetic_data/dataset_5000000_number_584_from_3793174_to_3799725.txt in Set 5000000 with 6552, new elements, remaining space available: 2797430
Create file ./data/sintetic_data/dataset_5000000_number_585_from_3799726_to_3806321.txt in Set 5000000 with 6596, new elements, remaining space available: 2804026
Create file ./data/sintetic_data/dataset_5000000_number_586_from_3806322_to_3812825.txt in Set 5000000 with 6504, new elements, remaining space available: 2810530
Create file ./data/sintetic_data/dataset_5000000_number_587_from_3812826_to_3819393.txt in Set 5000000 with 6568, new elements, remaining space available: 2817098
Create file ./data/sintetic_data/dataset_5000000_number_588_from_3819394_to_3825955.txt in Set 5000000 with 6562, new elements, remaining space available: 2823660
Create file ./data/sintetic_data/dataset_5000000_number_589_from_3825956_to_3832477.txt in Set 5000000 with 6522, new elements, remaining space available: 2830182
Create file ./data/sintetic_data/dataset_5000000_number_590_from_3832478_to_3839061.txt in Set 5000000 with 6584, new elements, remaining space available: 2836766
Create file ./data/sintetic_data/dataset_5000000_number_591_from_3839062_to_3845597.txt in Set 5000000 with 6536, new elements, remaining space available: 2843302
Create file ./data/sintetic_data/dataset_5000000_number_592_from_3845598_to_3852125.txt in Set 5000000 with 6528, new elements, remaining space available: 2849830
Create file ./data/sintetic_data/dataset_5000000_number_593_from_3852126_to_3858717.txt in Set 5000000 with 6592, new elements, remaining space available: 2856422
Create file ./data/sintetic_data/dataset_5000000_number_594_from_3858718_to_3865241.txt in Set 5000000 with 6524, new elements, remaining space available: 2862946
Create file ./data/sintetic_data/dataset_5000000_number_595_from_3865242_to_3871778.txt in Set 5000000 with 6537, new elements, remaining space available: 2869483
Create file ./data/sintetic_data/dataset_5000000_number_596_from_3871779_to_3878388.txt in Set 5000000 with 6610, new elements, remaining space available: 2876093
Create file ./data/sintetic_data/dataset_5000000_number_597_from_3878389_to_3884887.txt in Set 5000000 with 6499, new elements, remaining space available: 2882592
Create file ./data/sintetic_data/dataset_5000000_number_598_from_3884888_to_3891438.txt in Set 5000000 with 6551, new elements, remaining space available: 2889143
Create file ./data/sintetic_data/dataset_5000000_number_599_from_3891439_to_3898039.txt in Set 5000000 with 6601, new elements, remaining space available: 2895744
Create file ./data/sintetic_data/dataset_5000000_number_600_from_3898040_to_3904542.txt in Set 5000000 with 6503, new elements, remaining space available: 2902247
Create file ./data/sintetic_data/dataset_5000000_number_601_from_3904543_to_3911111.txt in Set 5000000 with 6569, new elements, remaining space available: 2908816
Create file ./data/sintetic_data/dataset_5000000_number_602_from_3911112_to_3917678.txt in Set 5000000 with 6567, new elements, remaining space available: 2915383
Create file ./data/sintetic_data/dataset_5000000_number_603_from_3917679_to_3924196.txt in Set 5000000 with 6518, new elements, remaining space available: 2921901
Create file ./data/sintetic_data/dataset_5000000_number_604_from_3924197_to_3930775.txt in Set 5000000 with 6579, new elements, remaining space available: 2928480
Create file ./data/sintetic_data/dataset_5000000_number_605_from_3930776_to_3937320.txt in Set 5000000 with 6545, new elements, remaining space available: 2935025
Create file ./data/sintetic_data/dataset_5000000_number_606_from_3937321_to_3943842.txt in Set 5000000 with 6522, new elements, remaining space available: 2941547
Create file ./data/sintetic_data/dataset_5000000_number_607_from_3943843_to_3950437.txt in Set 5000000 with 6595, new elements, remaining space available: 2948142
Create file ./data/sintetic_data/dataset_5000000_number_608_from_3950438_to_3956962.txt in Set 5000000 with 6525, new elements, remaining space available: 2954667
Create file ./data/sintetic_data/dataset_5000000_number_609_from_3956963_to_3963503.txt in Set 5000000 with 6541, new elements, remaining space available: 2961208
Create file ./data/sintetic_data/dataset_5000000_number_610_from_3963504_to_3970108.txt in Set 5000000 with 6605, new elements, remaining space available: 2967813
Create file ./data/sintetic_data/dataset_5000000_number_611_from_3970109_to_3976612.txt in Set 5000000 with 6504, new elements, remaining space available: 2974317
Create file ./data/sintetic_data/dataset_5000000_number_612_from_3976613_to_3983156.txt in Set 5000000 with 6544, new elements, remaining space available: 2980861
Create file ./data/sintetic_data/dataset_5000000_number_613_from_3983157_to_3989763.txt in Set 5000000 with 6607, new elements, remaining space available: 2987468
Create file ./data/sintetic_data/dataset_5000000_number_614_from_3989764_to_3996265.txt in Set 5000000 with 6502, new elements, remaining space available: 2993970
Create file ./data/sintetic_data/dataset_5000000_number_615_from_3996266_to_4002821.txt in Set 5000000 with 6556, new elements, remaining space available: 3000526
Create file ./data/sintetic_data/dataset_5000000_number_616_from_4002822_to_4009402.txt in Set 5000000 with 6581, new elements, remaining space available: 3007107
Create file ./data/sintetic_data/dataset_5000000_number_617_from_4009403_to_4015916.txt in Set 5000000 with 6514, new elements, remaining space available: 3013621
Create file ./data/sintetic_data/dataset_5000000_number_618_from_4015917_to_4022496.txt in Set 5000000 with 6580, new elements, remaining space available: 3020201
Create file ./data/sintetic_data/dataset_5000000_number_619_from_4022497_to_4029044.txt in Set 5000000 with 6548, new elements, remaining space available: 3026749
Create file ./data/sintetic_data/dataset_5000000_number_620_from_4029045_to_4035566.txt in Set 5000000 with 6522, new elements, remaining space available: 3033271
Create file ./data/sintetic_data/dataset_5000000_number_621_from_4035567_to_4042157.txt in Set 5000000 with 6591, new elements, remaining space available: 3039862
Create file ./data/sintetic_data/dataset_5000000_number_622_from_4042158_to_4048687.txt in Set 5000000 with 6530, new elements, remaining space available: 3046392
Create file ./data/sintetic_data/dataset_5000000_number_623_from_4048688_to_4055223.txt in Set 5000000 with 6536, new elements, remaining space available: 3052928
Create file ./data/sintetic_data/dataset_5000000_number_624_from_4055224_to_4061826.txt in Set 5000000 with 6603, new elements, remaining space available: 3059531
Create file ./data/sintetic_data/dataset_5000000_number_625_from_4061827_to_4068333.txt in Set 5000000 with 6507, new elements, remaining space available: 3066038
Create file ./data/sintetic_data/dataset_5000000_number_626_from_4068334_to_4074879.txt in Set 5000000 with 6546, new elements, remaining space available: 3072584
Create file ./data/sintetic_data/dataset_5000000_number_627_from_4074880_to_4081485.txt in Set 5000000 with 6606, new elements, remaining space available: 3079190
Create file ./data/sintetic_data/dataset_5000000_number_628_from_4081486_to_4087979.txt in Set 5000000 with 6494, new elements, remaining space available: 3085684
Create file ./data/sintetic_data/dataset_5000000_number_629_from_4087980_to_4094543.txt in Set 5000000 with 6564, new elements, remaining space available: 3092248
Create file ./data/sintetic_data/dataset_5000000_number_630_from_4094544_to_4101125.txt in Set 5000000 with 6582, new elements, remaining space available: 3098830
Create file ./data/sintetic_data/dataset_5000000_number_631_from_4101126_to_4107634.txt in Set 5000000 with 6509, new elements, remaining space available: 3105339

Create file ./data/sintetic_data/dataset_5000000_number_632_from_4107635_to_4114216.txt in Set 5000000 with 6582, new elements, remaining space available: 3111921
Create file ./data/sintetic_data/dataset_5000000_number_633_from_4114217_to_4120761.txt in Set 5000000 with 6545, new elements, remaining space available: 3118466
Create file ./data/sintetic_data/dataset_5000000_number_634_from_4120762_to_4127285.txt in Set 5000000 with 6524, new elements, remaining space available: 3124990
Create file ./data/sintetic_data/dataset_5000000_number_635_from_4127286_to_4133878.txt in Set 5000000 with 6593, new elements, remaining space available: 3131583
Create file ./data/sintetic_data/dataset_5000000_number_636_from_4133879_to_4140405.txt in Set 5000000 with 6527, new elements, remaining space available: 3138110
Create file ./data/sintetic_data/dataset_5000000_number_637_from_4140406_to_4146944.txt in Set 5000000 with 6539, new elements, remaining space available: 3144649
Create file ./data/sintetic_data/dataset_5000000_number_638_from_4146945_to_4153540.txt in Set 5000000 with 6596, new elements, remaining space available: 3151245
Create file ./data/sintetic_data/dataset_5000000_number_639_from_4153541_to_4160051.txt in Set 5000000 with 6511, new elements, remaining space available: 3157756
Create file ./data/sintetic_data/dataset_5000000_number_640_from_4160052_to_4166597.txt in Set 5000000 with 6546, new elements, remaining space available: 3164302
Create file ./data/sintetic_data/dataset_5000000_number_641_from_4166598_to_4173204.txt in Set 5000000 with 6607, new elements, remaining space available: 3170909
Create file ./data/sintetic_data/dataset_5000000_number_642_from_4173205_to_4179701.txt in Set 5000000 with 6497, new elements, remaining space available: 3177406
Create file ./data/sintetic_data/dataset_5000000_number_643_from_4179702_to_4186261.txt in Set 5000000 with 6560, new elements, remaining space available: 3183966
Create file ./data/sintetic_data/dataset_5000000_number_644_from_4186262_to_4192847.txt in Set 5000000 with 6586, new elements, remaining space available: 3190552
Create file ./data/sintetic_data/dataset_5000000_number_645_from_4192848_to_4199356.txt in Set 5000000 with 6509, new elements, remaining space available: 3197061
Create file ./data/sintetic_data/dataset_5000000_number_646_from_4199357_to_4205931.txt in Set 5000000 with 6575, new elements, remaining space available: 3203636
Create file ./data/sintetic_data/dataset_5000000_number_647_from_4205932_to_4212488.txt in Set 5000000 with 6557, new elements, remaining space available: 3210193
Create file ./data/sintetic_data/dataset_5000000_number_648_from_4212489_to_4219007.txt in Set 5000000 with 6519, new elements, remaining space available: 3216712
Create file ./data/sintetic_data/dataset_5000000_number_649_from_4219008_to_4225598.txt in Set 5000000 with 6591, new elements, remaining space available: 3223303
Create file ./data/sintetic_data/dataset_5000000_number_650_from_4225599_to_4232126.txt in Set 5000000 with 6528, new elements, remaining space available: 3229831
Create file ./data/sintetic_data/dataset_5000000_number_651_from_4232127_to_4238662.txt in Set 5000000 with 6536, new elements, remaining space available: 3236367
Create file ./data/sintetic_data/dataset_5000000_number_652_from_4238663_to_4245255.txt in Set 5000000 with 6593, new elements, remaining space available: 3242960
Create file ./data/sintetic_data/dataset_5000000_number_653_from_4245256_to_4251771.txt in Set 5000000 with 6516, new elements, remaining space available: 3249476
Create file ./data/sintetic_data/dataset_5000000_number_654_from_4251772_to_4258313.txt in Set 5000000 with 6542, new elements, remaining space available: 3256018
Create file ./data/sintetic_data/dataset_5000000_number_655_from_4258314_to_4264919.txt in Set 5000000 with 6606, new elements, remaining space available: 3262624
Create file ./data/sintetic_data/dataset_5000000_number_656_from_4264920_to_4271423.txt in Set 5000000 with 6504, new elements, remaining space available: 3269128
Create file ./data/sintetic_data/dataset_5000000_number_657_from_4271424_to_4277977.txt in Set 5000000 with 6554, new elements, remaining space available: 3275682
Create file ./data/sintetic_data/dataset_5000000_number_658_from_4277978_to_4284568.txt in Set 5000000 with 6591, new elements, remaining space available: 3282273
Create file ./data/sintetic_data/dataset_5000000_number_659_from_4284569_to_4291076.txt in Set 5000000 with 6508, new elements, remaining space available: 3288781
Create file ./data/sintetic_data/dataset_5000000_number_660_from_4291077_to_4297642.txt in Set 5000000 with 6566, new elements, remaining space available: 3295347
Create file ./data/sintetic_data/dataset_5000000_number_661_from_4297643_to_4304204.txt in Set 5000000 with 6562, new elements, remaining space available: 3301909
Create file ./data/sintetic_data/dataset_5000000_number_662_from_4304205_to_4310727.txt in Set 5000000 with 6523, new elements, remaining space available: 3308432
Create file ./data/sintetic_data/dataset_5000000_number_663_from_4310728_to_4317313.txt in Set 5000000 with 6586, new elements, remaining space available: 3315018
Create file ./data/sintetic_data/dataset_5000000_number_664_from_4317314_to_4323843.txt in Set 5000000 with 6530, new elements, remaining space available: 3321548
Create file ./data/sintetic_data/dataset_5000000_number_665_from_4323844_to_4330374.txt in Set 5000000 with 6531, new elements, remaining space available: 3328079
Create file ./data/sintetic_data/dataset_5000000_number_666_from_4330375_to_4336968.txt in Set 5000000 with 6594, new elements, remaining space available: 3334673
Create file ./data/sintetic_data/dataset_5000000_number_667_from_4336969_to_4343488.txt in Set 5000000 with 6520, new elements, remaining space available: 3341193
Create file ./data/sintetic_data/dataset_5000000_number_668_from_4343489_to_4350027.txt in Set 5000000 with 6539, new elements, remaining space available: 3347732
Create file ./data/sintetic_data/dataset_5000000_number_669_from_4350028_to_4356637.txt in Set 5000000 with 6610, new elements, remaining space available: 3354342
Create file ./data/sintetic_data/dataset_5000000_number_670_from_4356638_to_4363139.txt in Set 5000000 with 6502, new elements, remaining space available: 3360844
Create file ./data/sintetic_data/dataset_5000000_number_671_from_4363140_to_4369691.txt in Set 5000000 with 6552, new elements, remaining space available: 3367396
Create file ./data/sintetic_data/dataset_5000000_number_672_from_4369692_to_4376287.txt in Set 5000000 with 6596, new elements, remaining space available: 3373992
Create file ./data/sintetic_data/dataset_5000000_number_673_from_4376288_to_4382791.txt in Set 5000000 with 6504, new elements, remaining space available: 3380496
Create file ./data/sintetic_data/dataset_5000000_number_674_from_4382792_to_4389359.txt in Set 5000000 with 6568, new elements, remaining space available: 3387064
Create file ./data/sintetic_data/dataset_5000000_number_675_from_4389360_to_4395921.txt in Set 5000000 with 6562, new elements, remaining space available: 3393626
Create file ./data/sintetic_data/dataset_5000000_number_676_from_4395922_to_4402443.txt in Set 5000000 with 6522, new elements, remaining space available: 3400148
Create file ./data/sintetic_data/dataset_5000000_number_677_from_4402444_to_4409027.txt in Set 5000000 with 6584, new elements, remaining space available: 3406732
Create file ./data/sintetic_data/dataset_5000000_number_678_from_4409028_to_4415563.txt in Set 5000000 with 6536, new elements, remaining space available: 3413268
Create file ./data/sintetic_data/dataset_5000000_number_679_from_4415564_to_4422091.txt in Set 5000000 with 6528, new elements, remaining space available: 3419796
Create file ./data/sintetic_data/dataset_5000000_number_680_from_4422092_to_4428683.txt in Set 5000000 with 6592, new elements, remaining space available: 3426388
Create file ./data/sintetic_data/dataset_5000000_number_681_from_4428684_to_4435207.txt in Set 5000000 with 6524, new elements, remaining space available: 3432912
Create file ./data/sintetic_data/dataset_5000000_number_682_from_4435208_to_4441744.txt in Set 5000000 with 6537, new elements, remaining space available: 3439449
Create file ./data/sintetic_data/dataset_5000000_number_683_from_4441745_to_4448354.txt in Set 5000000 with 6610, new elements, remaining space available: 3446059

Create file ./data/sintetic_data/dataset_5000000_number_684_from_4448355_to_4454853.txt in Set 5000000 with 6499, new elements, remaining space available: 3452558
Create file ./data/sintetic_data/dataset_5000000_number_685_from_4454854_to_4461404.txt in Set 5000000 with 6551, new elements, remaining space available: 3459109
Create file ./data/sintetic_data/dataset_5000000_number_686_from_4461405_to_4468005.txt in Set 5000000 with 6601, new elements, remaining space available: 3465710
Create file ./data/sintetic_data/dataset_5000000_number_687_from_4468006_to_4474508.txt in Set 5000000 with 6503, new elements, remaining space available: 3472213
Create file ./data/sintetic_data/dataset_5000000_number_688_from_4474509_to_4481077.txt in Set 5000000 with 6569, new elements, remaining space available: 3478782
Create file ./data/sintetic_data/dataset_5000000_number_689_from_4481078_to_4487644.txt in Set 5000000 with 6567, new elements, remaining space available: 3485349
Create file ./data/sintetic_data/dataset_5000000_number_690_from_4487645_to_4494162.txt in Set 5000000 with 6518, new elements, remaining space available: 3491867
Create file ./data/sintetic_data/dataset_5000000_number_691_from_4494163_to_4500741.txt in Set 5000000 with 6579, new elements, remaining space available: 3498446
Create file ./data/sintetic_data/dataset_5000000_number_692_from_4500742_to_4507286.txt in Set 5000000 with 6545, new elements, remaining space available: 3504991
Create file ./data/sintetic_data/dataset_5000000_number_693_from_4507287_to_4513808.txt in Set 5000000 with 6522, new elements, remaining space available: 3511513
Create file ./data/sintetic_data/dataset_5000000_number_694_from_4513809_to_4520403.txt in Set 5000000 with 6595, new elements, remaining space available: 3518108
Create file ./data/sintetic_data/dataset_5000000_number_695_from_4520404_to_4526928.txt in Set 5000000 with 6525, new elements, remaining space available: 3524633
Create file ./data/sintetic_data/dataset_5000000_number_696_from_4526929_to_4533469.txt in Set 5000000 with 6541, new elements, remaining space available: 3531174
Create file ./data/sintetic_data/dataset_5000000_number_697_from_4533470_to_4540074.txt in Set 5000000 with 6605, new elements, remaining space available: 3537779
Create file ./data/sintetic_data/dataset_5000000_number_698_from_4540075_to_4546578.txt in Set 5000000 with 6504, new elements, remaining space available: 3544283
Create file ./data/sintetic_data/dataset_5000000_number_699_from_4546579_to_4553122.txt in Set 5000000 with 6544, new elements, remaining space available: 3550827
Create file ./data/sintetic_data/dataset_5000000_number_700_from_4553123_to_4559729.txt in Set 5000000 with 6607, new elements, remaining space available: 3557434
Create file ./data/sintetic_data/dataset_5000000_number_701_from_4559730_to_4566231.txt in Set 5000000 with 6502, new elements, remaining space available: 3563936
Create file ./data/sintetic_data/dataset_5000000_number_702_from_4566232_to_4572787.txt in Set 5000000 with 6556, new elements, remaining space available: 3570492
Create file ./data/sintetic_data/dataset_5000000_number_703_from_4572788_to_4579368.txt in Set 5000000 with 6581, new elements, remaining space available: 3577073
Create file ./data/sintetic_data/dataset_5000000_number_704_from_4579369_to_4585882.txt in Set 5000000 with 6514, new elements, remaining space available: 3583587
Create file ./data/sintetic_data/dataset_5000000_number_705_from_4585883_to_4592462.txt in Set 5000000 with 6580, new elements, remaining space available: 3590167
Create file ./data/sintetic_data/dataset_5000000_number_706_from_4592463_to_4599010.txt in Set 5000000 with 6548, new elements, remaining space available: 3596715
Create file ./data/sintetic_data/dataset_5000000_number_707_from_4599011_to_4605532.txt in Set 5000000 with 6522, new elements, remaining space available: 3603237
Create file ./data/sintetic_data/dataset_5000000_number_708_from_4605533_to_4612123.txt in Set 5000000 with 6591, new elements, remaining space available: 3609828
Create file ./data/sintetic_data/dataset_5000000_number_709_from_4612124_to_4618653.txt in Set 5000000 with 6530, new elements, remaining space available: 3616358
Create file ./data/sintetic_data/dataset_5000000_number_710_from_4618654_to_4625189.txt in Set 5000000 with 6536, new elements, remaining space available: 3622894
Create file ./data/sintetic_data/dataset_5000000_number_711_from_4625190_to_4631792.txt in Set 5000000 with 6603, new elements, remaining space available: 3629497
Create file ./data/sintetic_data/dataset_5000000_number_712_from_4631793_to_4638299.txt in Set 5000000 with 6507, new elements, remaining space available: 3636004
Create file ./data/sintetic_data/dataset_5000000_number_713_from_4638300_to_4644845.txt in Set 5000000 with 6546, new elements, remaining space available: 3642550
Create file ./data/sintetic_data/dataset_5000000_number_714_from_4644846_to_4651451.txt in Set 5000000 with 6606, new elements, remaining space available: 3649156
Create file ./data/sintetic_data/dataset_5000000_number_715_from_4651452_to_4657945.txt in Set 5000000 with 6494, new elements, remaining space available: 3655650
Create file ./data/sintetic_data/dataset_5000000_number_716_from_4657946_to_4664509.txt in Set 5000000 with 6564, new elements, remaining space available: 3662214
Create file ./data/sintetic_data/dataset_5000000_number_717_from_4664510_to_4671091.txt in Set 5000000 with 6582, new elements, remaining space available: 3668796
Create file ./data/sintetic_data/dataset_5000000_number_718_from_4671092_to_4677600.txt in Set 5000000 with 6509, new elements, remaining space available: 3675305
Create file ./data/sintetic_data/dataset_5000000_number_719_from_4677601_to_4684182.txt in Set 5000000 with 6582, new elements, remaining space available: 3681887
Create file ./data/sintetic_data/dataset_5000000_number_720_from_4684183_to_4690727.txt in Set 5000000 with 6545, new elements, remaining space available: 3688432
Create file ./data/sintetic_data/dataset_5000000_number_721_from_4690728_to_4697251.txt in Set 5000000 with 6524, new elements, remaining space available: 3694956
Create file ./data/sintetic_data/dataset_5000000_number_722_from_4697252_to_4703844.txt in Set 5000000 with 6593, new elements, remaining space available: 3701549
Create file ./data/sintetic_data/dataset_5000000_number_723_from_4703845_to_4710371.txt in Set 5000000 with 6527, new elements, remaining space available: 3708076
Create file ./data/sintetic_data/dataset_5000000_number_724_from_4710372_to_4716910.txt in Set 5000000 with 6539, new elements, remaining space available: 3714615
Create file ./data/sintetic_data/dataset_5000000_number_725_from_4716911_to_4723506.txt in Set 5000000 with 6596, new elements, remaining space available: 3721211
Create file ./data/sintetic_data/dataset_5000000_number_726_from_4723507_to_4730017.txt in Set 5000000 with 6511, new elements, remaining space available: 3727722
Create file ./data/sintetic_data/dataset_5000000_number_727_from_4730018_to_4736563.txt in Set 5000000 with 6546, new elements, remaining space available: 3734268
Create file ./data/sintetic_data/dataset_5000000_number_728_from_4736564_to_4743170.txt in Set 5000000 with 6607, new elements, remaining space available: 3740875
Create file ./data/sintetic_data/dataset_5000000_number_729_from_4743171_to_4749667.txt in Set 5000000 with 6497, new elements, remaining space available: 3747372
Create file ./data/sintetic_data/dataset_5000000_number_730_from_4749668_to_4756227.txt in Set 5000000 with 6560, new elements, remaining space available: 3753932
Create file ./data/sintetic_data/dataset_5000000_number_731_from_4756228_to_4762813.txt in Set 5000000 with 6586, new elements, remaining space available: 3760518
Create file ./data/sintetic_data/dataset_5000000_number_732_from_4762814_to_4769322.txt in Set 5000000 with 6509, new elements, remaining space available: 3767027
Create file ./data/sintetic_data/dataset_5000000_number_733_from_4769323_to_4775897.txt in Set 5000000 with 6575, new elements, remaining space available: 3773602
Create file ./data/sintetic_data/dataset_5000000_number_734_from_4775898_to_4782454.txt in Set 5000000 with 6557, new elements, remaining space available: 3780159

Create file ./data/sintetic_data/dataset_5000000_number_735_from_4782455_to_4788973.txt in Set 5000000 with 6519, new elements, remaining space available: 3786678
Create file ./data/sintetic_data/dataset_5000000_number_736_from_4788974_to_4795564.txt in Set 5000000 with 6591, new elements, remaining space available: 3793269
Create file ./data/sintetic_data/dataset_5000000_number_737_from_4795565_to_4802092.txt in Set 5000000 with 6528, new elements, remaining space available: 3799797
Create file ./data/sintetic_data/dataset_5000000_number_738_from_4802093_to_4808628.txt in Set 5000000 with 6536, new elements, remaining space available: 3806333
Create file ./data/sintetic_data/dataset_5000000_number_739_from_4808629_to_4815221.txt in Set 5000000 with 6593, new elements, remaining space available: 3812926
Create file ./data/sintetic_data/dataset_5000000_number_740_from_4815222_to_4821737.txt in Set 5000000 with 6516, new elements, remaining space available: 3819442
Create file ./data/sintetic_data/dataset_5000000_number_741_from_4821738_to_4828279.txt in Set 5000000 with 6542, new elements, remaining space available: 3825984
Create file ./data/sintetic_data/dataset_5000000_number_742_from_4828280_to_4834885.txt in Set 5000000 with 6606, new elements, remaining space available: 3832590
Create file ./data/sintetic_data/dataset_5000000_number_743_from_4834886_to_4841389.txt in Set 5000000 with 6504, new elements, remaining space available: 3839094
Create file ./data/sintetic_data/dataset_5000000_number_744_from_4841390_to_4847943.txt in Set 5000000 with 6554, new elements, remaining space available: 3845648
Create file ./data/sintetic_data/dataset_5000000_number_745_from_4847944_to_4854534.txt in Set 5000000 with 6591, new elements, remaining space available: 3852239
Create file ./data/sintetic_data/dataset_5000000_number_746_from_4854535_to_4861042.txt in Set 5000000 with 6508, new elements, remaining space available: 3858747
Create file ./data/sintetic_data/dataset_5000000_number_747_from_4861043_to_4867608.txt in Set 5000000 with 6566, new elements, remaining space available: 3865313
Create file ./data/sintetic_data/dataset_5000000_number_748_from_4867609_to_4874170.txt in Set 5000000 with 6562, new elements, remaining space available: 3871875
Create file ./data/sintetic_data/dataset_5000000_number_749_from_4874171_to_4880693.txt in Set 5000000 with 6523, new elements, remaining space available: 3878398
Create file ./data/sintetic_data/dataset_5000000_number_750_from_4880694_to_4887279.txt in Set 5000000 with 6586, new elements, remaining space available: 3884984
Create file ./data/sintetic_data/dataset_5000000_number_751_from_4887280_to_4893809.txt in Set 5000000 with 6530, new elements, remaining space available: 3891514
Create file ./data/sintetic_data/dataset_5000000_number_752_from_4893810_to_4900340.txt in Set 5000000 with 6531, new elements, remaining space available: 3898045
Create file ./data/sintetic_data/dataset_5000000_number_753_from_4900341_to_4906934.txt in Set 5000000 with 6594, new elements, remaining space available: 3904639
Create file ./data/sintetic_data/dataset_5000000_number_754_from_4906935_to_4913454.txt in Set 5000000 with 6520, new elements, remaining space available: 3911159
Create file ./data/sintetic_data/dataset_5000000_number_755_from_4913455_to_4919993.txt in Set 5000000 with 6539, new elements, remaining space available: 3917698
Create file ./data/sintetic_data/dataset_5000000_number_756_from_4919994_to_4926603.txt in Set 5000000 with 6610, new elements, remaining space available: 3924308
Create file ./data/sintetic_data/dataset_5000000_number_757_from_4926604_to_4933105.txt in Set 5000000 with 6502, new elements, remaining space available: 3930810
Create file ./data/sintetic_data/dataset_5000000_number_758_from_4933106_to_4939657.txt in Set 5000000 with 6552, new elements, remaining space available: 3937362
Create file ./data/sintetic_data/dataset_5000000_number_759_from_4939658_to_4946253.txt in Set 5000000 with 6596, new elements, remaining space available: 3943958
Create file ./data/sintetic_data/dataset_5000000_number_760_from_4946254_to_4952757.txt in Set 5000000 with 6504, new elements, remaining space available: 3950462
Create file ./data/sintetic_data/dataset_5000000_number_761_from_4952758_to_4959325.txt in Set 5000000 with 6568, new elements, remaining space available: 3957030
Create file ./data/sintetic_data/dataset_5000000_number_762_from_4959326_to_4965887.txt in Set 5000000 with 6562, new elements, remaining space available: 3963592
Create file ./data/sintetic_data/dataset_5000000_number_763_from_4965888_to_4972409.txt in Set 5000000 with 6522, new elements, remaining space available: 3970114
Create file ./data/sintetic_data/dataset_5000000_number_764_from_4972410_to_4978993.txt in Set 5000000 with 6584, new elements, remaining space available: 3976698
Create file ./data/sintetic_data/dataset_5000000_number_765_from_4978994_to_4985529.txt in Set 5000000 with 6536, new elements, remaining space available: 3983234
Create file ./data/sintetic_data/dataset_5000000_number_766_from_4985530_to_4992057.txt in Set 5000000 with 6528, new elements, remaining space available: 3989762
Create file ./data/sintetic_data/dataset_5000000_number_767_from_4992058_to_4998649.txt in Set 5000000 with 6592, new elements, remaining space available: 3996354
Create file ./data/sintetic_data/dataset_5000000_number_768_from_4998650_to_5000000.txt in Set 5000000 with 1351, new elements, remaining space available: 3997705

## Queries

Obtener el numero total de tripletas

In [10]:
Q1 = """PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

DESCRIBE <http://hercules.org/um/es-ES/rec/AnualidadFinanciacionRegistroAyudaDefinitiva/e73fc9ee-382e-4a83-b9d5-58d3c45c5d81>"""

Q1_N = """
DESCRIBE <http://hercules.org/um/es-ES/rec/AnualidadFinanciacionRegistroAyudaDefinitiva/e73fc9ee-382e-4a83-b9d5-58d3c45c5d81>"""


# COUNT: Contar el numero de tripletas
Q2 = """PREFIX un: <http://www.w3.org/2007/ont/unit#>
PREFIX uni: <http://purl.org/weso/uni/uni.html#>
prefix univ:<http://people.brunel.ac.uk/~csstnns/university.owl#>
prefix sp:<http://www.meta-qsar.org/ontologies/sport.owl#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT (COUNT(*) as ?Triples) WHERE { ?s ?p ?o}"""

Q2_N = """SELECT (COUNT(*) as ?Triples) WHERE { ?s ?p ?o}"""

# FILTER: WHERE idPersona = 2211
Q3 = """PREFIX un: <http://www.w3.org/2007/ont/unit#>
PREFIX uni: <http://purl.org/weso/uni/uni.html#>
prefix univ:<http://people.brunel.ac.uk/~csstnns/university.owl#>
prefix sp:<http://www.meta-qsar.org/ontologies/sport.owl#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT ?s ?p ?o
WHERE {
  ?s <http://hercules.org/um/es-ES/rec/idPersona> ?o
  FILTER(?o = "2211")
}"""

Q3_N = """SELECT ?s ?p ?o
WHERE {
  ?s <http://hercules.org/um/es-ES/rec/idPersona> ?o
  FILTER(?o = "2211")
}"""

# DISTINCT: Personas distintas
Q4 = """PREFIX un: <http://www.w3.org/2007/ont/unit#>
PREFIX uni: <http://purl.org/weso/uni/uni.html#>
prefix univ:<http://people.brunel.ac.uk/~csstnns/university.owl#>
prefix sp:<http://www.meta-qsar.org/ontologies/sport.owl#>
prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT DISTINCT ?o WHERE { ?s <http://hercules.org/um/es-ES/rec/idPersona> ?o }"""

Q4_N = """SELECT DISTINCT ?o WHERE { ?s <http://hercules.org/um/es-ES/rec/idPersona> ?o }"""


queries = [Q1,Q2,Q3,Q4]

queries_no_prefix = [Q1_N,Q2_N,Q3_N,Q4_N]

## General Triple Stores

Método para realizar la petición Post para 1 fichero

In [11]:
def sendDataFromFile(filePath,host='localhost',port=3030,url='/trellis/data?graph=trellis'):
    import http.client
    import mimetypes
    conn = http.client.HTTPConnection(host, port)
    dataList = []
    boundary = 'wL36Yn8afVp8Ag7AmP8qZ0SA4n1v9T'
    dataList.append('--' + boundary)
    dataList.append('Content-Disposition: form-data; name=file; filename={0}'.format(filePath))

    fileType = mimetypes.guess_type(filePath)[0] or 'application/octet-stream'
    dataList.append('Content-Type: {}'.format(fileType))
    dataList.append('')

    with open(filePath) as f:
      dataList.append(f.read())
    dataList.append('--'+boundary+'--')
    dataList.append('')
    body = '\r\n'.join(dataList)
    payload = body
    headers = {
       'Content-type': 'multipart/form-data; boundary={}'.format(boundary) 
    }
    conn.request("POST", url, payload, headers)
    res = conn.getresponse()
    data = res.read()
    return data.decode("utf-8")

In [12]:
def sendDataFromFileBlazegraph(filePath,host='localhost',port=8889,url='/bigdata/sparql'):
    import requests
    dataList = []
    with open(filePath) as f:
        dataList.append(f.read())
    body = '\r\n'.join(dataList)
    payload = body
    headers = {
      'Content-Type': 'application/rdf+xml'
    }
    response = requests.request("POST", 'http://'+host+':'+str(port)+url, headers=headers, data = payload)

    return  response.text

In [13]:
#sendDataFromFileBlazegraph(filePath='./data/sintetic_data/dataset_50000_number_1_from_1_to_6502.txt')

Método para realizar una query

In [14]:
def sendQuery(query,host='localhost',port=3030,url='/trellis/data?graph=trellis'):
    import http.client
    import mimetypes
    import urllib.parse
    conn = http.client.HTTPConnection("localhost", 3030)
    payload = f'query={query}'
    headers = {
      'Content-Type': 'application/x-www-form-urlencoded',
      'Accept': 'application/json'
    }
    conn.request("POST", "/trellis/sparql", payload, headers)
    res = conn.getresponse()
    data = res.read()
    return data.decode("utf-8")

In [15]:
def sendQueryBlazegraph(query,host='localhost',port=8889,url='/bigdata/sparql'):
    import requests

    url = f"http://{host}:{port}/bigdata/sparql?query={query}"

    payload = {}
    headers = {
      'Accept': 'application/json'
    }

    response = requests.request("POST", url, headers=headers, data = payload)

    return response.text

### FUSEKI + TDB2

In [23]:
if GENERATE_NEW_TDB2_MEAUSERES:
    updateTime = []
    queryTime = []
    for dn in dataNumber:

        nowUpdate = datetime.now() # Comienzo de momento actual para cada grupo

        # Insercion
        for f in os.listdir(base_dir):
            setData = int(re.search(r'\d+', f).group()) # Obtengo grupo

            if dn == setData: # Si pertenece al grupo
                res = sendDataFromFile(filePath=f'{base_dir}{f}') # Envio el dato
                print(dn)
        # Finalizado el grupo
        laterUpdate = datetime.now() # Tiempo final para el grupo

            # Tiempo empleado para Updates
        deltaUpdate = laterUpdate - nowUpdate
        if len(updateTime)>0: # Si procese la iteracion update anterior
            updateTime.append({'set': dn,'start': nowUpdate, 'end': laterUpdate ,'deltaTime': deltaUpdate.total_seconds(),'acumDeltaTime': deltaUpdate.total_seconds() + updateTime[len(updateTime)-1]['acumDeltaTime']})
        else:
            updateTime.append({'set': dn,'start': nowUpdate, 'end': laterUpdate ,'deltaTime': deltaUpdate.total_seconds(),'acumDeltaTime': deltaUpdate.total_seconds()})

        # Tiempo empleado para Queries
        counter_q = 0
        queryTimeObj = {'set': dn, 'queries':[] }
        for q in queries:
            counter_q += 1
            now_q = datetime.now()
            result = sendQuery(q)
            later_q = datetime.now()
            delta_q = later_q - now_q
            queryTimeObj['queries'].append({'start': now_q, 'end': later_q, 'deltaTime': delta_q.total_seconds(), 'queryId': f'Q{counter_q}', 'query': q})
        queryTime.append(queryTimeObj)

    import pandas as pd
    udf = pd.DataFrame(columns=['elements','delta_time_seg','amount_delta_time_seg'])
    for ut in updateTime:
        udf = udf.append({'elements': ut['set'],'delta_time_seg': ut['deltaTime'],'amount_delta_time_seg': ut['acumDeltaTime']}, ignore_index=True)
    udf.to_csv('./results/updateMetricFuseki.csv', index=False)
    qdf = pd.DataFrame(columns=['elements','Q1_delta_time_seg','Q2_delta_time_seg','Q3_delta_time_seg','Q4_delta_time_seg'])
    for qt in queryTime:
        qtObj = {'elements':qt['set']}
        for q in qt['queries']:
            qtObj[f"{q['queryId']}_delta_time_seg"]=q['deltaTime']
        qdf = qdf.append(qtObj, ignore_index=True)
    qdf.to_csv('./results/queriesMetricFuseki.csv', index=False)

50000
50000
50000
50000
50000
50000
50000
50000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
250000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
500000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
1000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000
5000000

### BlazeGraph

In [47]:
if GENERATE_NEW_BLAZEGRAPH_MEAUSERES:
    updateTime = []
    queryTime = []
    for dn in dataNumber:

        nowUpdate = datetime.now() # Comienzo de momento actual para cada grupo

        # Insercion
        for f in os.listdir(base_dir):
            setData = int(re.search(r'\d+', f).group()) # Obtengo grupo

            if dn == setData: # Si pertenece al grupo
                res = sendDataFromFileBlazegraph(filePath=f'{base_dir}{f}') # Envio el dato
                print(res)
        # Finalizado el grupo
        laterUpdate = datetime.now() # Tiempo final para el grupo

            # Tiempo empleado para Updates
        deltaUpdate = laterUpdate - nowUpdate
        if len(updateTime)>0: # Si procese la iteracion update anterior
            updateTime.append({'set': dn,'start': nowUpdate, 'end': laterUpdate ,'deltaTime': deltaUpdate.total_seconds(),'acumDeltaTime': deltaUpdate.total_seconds() + updateTime[len(updateTime)-1]['acumDeltaTime']})
        else:
            updateTime.append({'set': dn,'start': nowUpdate, 'end': laterUpdate ,'deltaTime': deltaUpdate.total_seconds(),'acumDeltaTime': deltaUpdate.total_seconds()})

        # Tiempo empleado para Queries
        counter_q = 0
        queryTimeObj = {'set': dn, 'queries':[] }
        for q in queries_no_prefix:
            counter_q += 1
            now_q = datetime.now()
            result = sendQueryBlazegraph(q)
            later_q = datetime.now()
            delta_q = later_q - now_q
            queryTimeObj['queries'].append({'start': now_q, 'end': later_q, 'deltaTime': delta_q.total_seconds(), 'queryId': f'Q{counter_q}', 'query': q})
        queryTime.append(queryTimeObj)

    import pandas as pd
    udf = pd.DataFrame(columns=['elements','delta_time_seg','amount_delta_time_seg'])
    for ut in updateTime:
        udf = udf.append({'elements': ut['set'],'delta_time_seg': ut['deltaTime'],'amount_delta_time_seg': ut['acumDeltaTime']}, ignore_index=True)
    udf.to_csv('./results/updateMetricBlazegraph.csv', index=False)
    qdf = pd.DataFrame(columns=['elements','Q1_delta_time_seg','Q2_delta_time_seg','Q3_delta_time_seg','Q4_delta_time_seg'])
    for qt in queryTime:
        qtObj = {'elements':qt['set']}
        for q in qt['queries']:
            qtObj[f"{q['queryId']}_delta_time_seg"]=q['deltaTime']
        qdf = qdf.append(qtObj, ignore_index=True)
    qdf.to_csv('./results/queriesMetricBlazegraph.csv', index=False)

Leer datos

In [48]:
updateFuseki = pd.read_csv('./results/updateMetricFuseki.csv') 
updateBlazeGraph = pd.read_csv('./results/updateMetricBlazegraph.csv') 
queriesFuseki = pd.read_csv('./results/queriesMetricFuseki.csv') 
queriesBlazegraph = pd.read_csv('./results/queriesMetricBlazegraph.csv')

Combinar datos

In [58]:
comparativeUpdates = pd.DataFrame(
    {
        'fuseki': list(updateFuseki['delta_time_seg']), 
        'blazegraph': list(updateBlazeGraph['delta_time_seg'])
    }
)

In [59]:
comparativeUpdates

       fuseki   blazegraph
0    6.593503     3.359767
1   18.553377    17.131264
2   26.531804    43.918947
3   55.428372   165.398358
4  493.131946  2552.058824

In [62]:
rankedUpdates = comparativeUpdates.eq(comparativeUpdates.where(comparativeUpdates != 0).min(1), axis=0).astype(int)

In [42]:
comparativeQueries = pd.DataFrame(
    {
        'fuseki_Q1': list(queriesFuseki['Q1_delta_time_seg']), 
        'fuseki_Q2': list(queriesFuseki['Q2_delta_time_seg']), 
        'fuseki_Q3': list(queriesFuseki['Q3_delta_time_seg']), 
        'fuseki_Q4': list(queriesFuseki['Q4_delta_time_seg']), 
        'blazegraph_Q1': list(queriesBlazegraph['Q1_delta_time_seg']), 
        'blazegraph_Q2': list(queriesBlazegraph['Q2_delta_time_seg']), 
        'blazegraph_Q3': list(queriesBlazegraph['Q3_delta_time_seg']), 
        'blazegraph_Q4': list(queriesBlazegraph['Q4_delta_time_seg']), 
    }
)

In [86]:
comparativeQueries[['fuseki_Q3','blazegraph_Q3']]

   fuseki_Q3  blazegraph_Q3
0   1.066817       0.502146
1   0.881751       0.639660
2   1.008468       1.429181
3   0.927235       2.954163
4   1.004720      16.448291

In [84]:
rankedUpdates = pd.DataFrame()
rankedUpdates[['fuseki_Q1','blazegraph_Q1']] = comparativeQueries[['fuseki_Q1','blazegraph_Q1']].eq(comparativeQueries[['fuseki_Q1','blazegraph_Q1']].min(1), axis=0).astype(int)
rankedUpdates[['fuseki_Q2','blazegraph_Q2']] = comparativeQueries[['fuseki_Q2','blazegraph_Q2']].eq(comparativeQueries[['fuseki_Q2','blazegraph_Q2']].min(1), axis=0).astype(int)
rankedUpdates[['fuseki_Q3','blazegraph_Q3']] = comparativeQueries[['fuseki_Q3','blazegraph_Q3']].eq(comparativeQueries[['fuseki_Q3','blazegraph_Q3']].min(1), axis=0).astype(int)
rankedUpdates[['fuseki_Q4','blazegraph_Q4']] = comparativeQueries[['fuseki_Q4','blazegraph_Q4']].eq(comparativeQueries[['fuseki_Q4','blazegraph_Q4']].min(1), axis=0).astype(int)

In [128]:
comparativeQueries.iloc[0][4]

0.033353

In [112]:
comparativeQueries

,fuseki_Q1,fuseki_Q2,fuseki_Q3,fuseki_Q4,blazegraph_Q1,blazegraph_Q2,blazegraph_Q3,blazegraph_Q4
0,0.067700,15.351222,1.066817,7.800106,0.033353,0.022999,0.502146,0.028001
1,0.013002,23.949527,0.881751,7.956429,0.036598,0.021998,0.639660,0.013734
2,0.010995,30.055681,1.008468,8.378793,0.075981,0.022996,1.429181,0.027963
3,0.011002,31.073240,0.927235,8.034584,0.053015,0.032986,2.954163,0.027038
4,0.010017,36.973381,1.004720,10.692471,0.085023,0.036953,16.448291,0.059030

## Enviar datos a Firebase

Preparar los resultados

In [1]:

import json

with open('./data/measures.json') as f:
  data = json.load(f)
  tables = data['benchmarks'][1]['metrics'][0]['tables'];

  
tables[0] ={
    'name': 'Tiempo (de lectura) en BlazeGraph',
    'description': 'Tiempo medio de lectura para todas las queries testedas por média aritmética',
    'table': {
        'columns': ['#Items','#RDFs (aprox.)','Query 1','Query 2','Query 3','Query 4','Média Aritmética'],
        'rows': [
            ['50k','400k',comparativeQueries.iloc[0][4],comparativeQueries.iloc[0][5],comparativeQueries.iloc[0][6],comparativeQueries.iloc[0][7],np.mean(comparativeQueries.iloc[0][4:])],
            ['250k','2M',comparativeQueries.iloc[1][4],comparativeQueries.iloc[1][5],comparativeQueries.iloc[1][6],comparativeQueries.iloc[1][7],np.mean(comparativeQueries.iloc[0][4:])],
            ['500k','4M',comparativeQueries.iloc[2][4],comparativeQueries.iloc[2][5],comparativeQueries.iloc[2][6],comparativeQueries.iloc[2][7],np.mean(comparativeQueries.iloc[0][4:])],
            ['1M','8M',comparativeQueries.iloc[3][4],comparativeQueries.iloc[3][5],comparativeQueries.iloc[3][6],comparativeQueries.iloc[3][7],np.mean(comparativeQueries.iloc[0][4:])],
            ['5M','20M',comparativeQueries.iloc[4][4],comparativeQueries.iloc[4][5],comparativeQueries.iloc[4][6],comparativeQueries.iloc[4][7],np.mean(comparativeQueries.iloc[0][4:])]
        ]
    },
}
tables[1] ={
    'name': 'Tiempo (de lectura) en TDB2',
    'description': 'Tiempo medio de lectura para todas las queries testedas por média aritmética',
    'table': {
        'columns': ['#Items','#RDFs (aprox.)','Query 1','Query 2','Query 3','Query 4','Média Aritmética'],
        'rows': [
            ['50k','400k',comparativeQueries.iloc[0][0],comparativeQueries.iloc[0][1],comparativeQueries.iloc[0][2],comparativeQueries.iloc[0][3],np.mean(comparativeQueries.iloc[0][0:4])],
            ['250k','2M',comparativeQueries.iloc[1][0],comparativeQueries.iloc[1][1],comparativeQueries.iloc[1][2],comparativeQueries.iloc[1][3],np.mean(comparativeQueries.iloc[0][0:4])],
            ['500k','4M',comparativeQueries.iloc[2][0],comparativeQueries.iloc[2][1],comparativeQueries.iloc[2][2],comparativeQueries.iloc[2][3],np.mean(comparativeQueries.iloc[0][0:4])],
            ['1M','8M',comparativeQueries.iloc[3][0],comparativeQueries.iloc[3][1],comparativeQueries.iloc[3][2],comparativeQueries.iloc[3][3],np.mean(comparativeQueries.iloc[0][0:4])],
            ['5M','20M',comparativeQueries.iloc[4][0],comparativeQueries.iloc[4][1],comparativeQueries.iloc[4][2],comparativeQueries.iloc[4][3],np.mean(comparativeQueries.iloc[0][0:4])]
        ]
    },
}
tables[2] ={
    'name': 'Agregado de Tiempo Medio (Lectura)',
    'description': 'Tiempo medio de lectura para todos los conjuntos de datos testeados y media aritmética',
    'table': {
        'columns': ['#Items','#RDFs (aprox.)','BlazeGraph','TDB2'],
        'rows': [
            ['50k','400k',np.mean(comparativeQueries.iloc[0][4:]),np.mean(comparativeQueries.iloc[0][0:4])],
            ['250k','2M',np.mean(comparativeQueries.iloc[1][4:]),np.mean(comparativeQueries.iloc[1][0:4])],
            ['500k','4M',np.mean(comparativeQueries.iloc[2][4:]),np.mean(comparativeQueries.iloc[2][0:4])],
            ['1M','8M',np.mean(comparativeQueries.iloc[3][4:]),np.mean(comparativeQueries.iloc[3][0:4])],
            ['5M','20M',np.mean(comparativeQueries.iloc[4][4:]),np.mean(comparativeQueries.iloc[4][0:4])]
        ]
    },
}
readAggregate = pd.DataFrame.from_records( tables[2]['table']['rows'] ).iloc[:,2:4]
readAggregateRanked = readAggregate.eq(readAggregate.where(readAggregate != 0).min(1), axis=0).astype(int)
tables[3] ={
    'name': 'Tiempo (Lectura): Frecuencia de ranking y puntuacion final',
    'description': 'Frecuencia de ranking y puntuacion final para triplestores analizados, mediada por tiempo medio por media aritmetica, la puntuación total se calcula multiplicando x2 la frecuencia de 1º posición y x1 la frecuencia de 2º posición',
    'table': {
        'columns': ['#Frec','BlazeGraph','TDB2'],
        'rows': [
            ['#1',len(readAggregateRanked[(readAggregateRanked[2]==1)]),len(readAggregateRanked[(readAggregateRanked[3]==1)]) ],
            ['#2',len(readAggregateRanked[(readAggregateRanked[2]==0)]),len(readAggregateRanked[(readAggregateRanked[3]==0)]) ],
            ['Puntuación',len(readAggregateRanked[(readAggregateRanked[2]==1)])*2 + len(readAggregateRanked[(readAggregateRanked[2]==0)]),len(readAggregateRanked[(readAggregateRanked[3]==1)])*2 + len(readAggregateRanked[(readAggregateRanked[3]==0)]) ],
        ]
    },
}

tables[4] ={
    'name': 'Agregado de Tiempo Medio (Escritura)',
    'description': 'Tiempo medio de escritura para todos los conjuntos de datos testeados y media aritmética',
    'table': {
        'columns': ['#Items','#RDFs (aprox.)','BlazeGraph','TDB2'],
        'rows': [
            ['50k','400k',comparativeUpdates.iloc[:,1][0],comparativeUpdates.iloc[:,0][0]],
            ['250k','2M',comparativeUpdates.iloc[:,1][1],comparativeUpdates.iloc[:,0][1]],
            ['500k','4M',comparativeUpdates.iloc[:,1][2],comparativeUpdates.iloc[:,0][2]],
            ['1M','8M',comparativeUpdates.iloc[:,1][3],comparativeUpdates.iloc[:,0][3]],
            ['5M','20M',comparativeUpdates.iloc[:,1][4],comparativeUpdates.iloc[:,0][4]]
        ]
    },
}
updateAggregate = pd.DataFrame.from_records( tables[4]['table']['rows'] ).iloc[:,2:4]
updateAggregateRanked = readAggregate.eq(readAggregate.where(readAggregate != 0).min(1), axis=0).astype(int)
tables[3] ={
    'name': 'Tiempo (Lectura): Frecuencia de ranking y puntuacion final',
    'description': 'Frecuencia de ranking y puntuacion final para triplestores analizados, mediada por tiempo medio por media aritmetica, la puntuación total se calcula multiplicando x2 la frecuencia de 1º posición y x1 la frecuencia de 2º posición',
    'table': {
        'columns': ['#Frec','BlazeGraph','TDB2'],
        'rows': [
            ['#1',len(readAggregateRanked[(readAggregateRanked[2]==1)]),len(readAggregateRanked[(readAggregateRanked[3]==1)]) ],
            ['#2',len(readAggregateRanked[(readAggregateRanked[2]==0)]),len(readAggregateRanked[(readAggregateRanked[3]==0)]) ],
            ['Puntuación',len(readAggregateRanked[(readAggregateRanked[2]==1)])*2 + len(readAggregateRanked[(readAggregateRanked[2]==0)]),len(readAggregateRanked[(readAggregateRanked[3]==1)])*2 + len(readAggregateRanked[(readAggregateRanked[3]==0)]) ],
        ]
    },
}
#updateAggregate = pd.DataFrame.from_records( tables[5]['table']['rows'] ).iloc[:,2:4]
#updateAggregateRanked = readAggregate.eq(readAggregate.where(readAggregate != 0).min(1), axis=0).astype(int)


print(tables[5])

NameError: name 'comparativeQueries' is not defined

In [285]:
updateAggregate = pd.DataFrame.from_records( tables[4]['table']['rows'] ).iloc[:,2:4]
updateAggregateRanked = readAggregate.eq(readAggregate.where(readAggregate != 0).min(1), axis=0).astype(int)

In [282]:
updateAggregateRanked

   1  2
0  2  3
1  3  2
2  7  8

In [263]:
tables[6] ={
    'name': 'Frecuencia de ranking y puntuacion final en Lectura y escritura',
    'description': 'Suma de las Frecuencias de ranking y puntuacion final anteriores',
    'table': {
        'columns': ['#Frec','BlazeGraph','TDB2'],
        'rows': [
            ['#suma',tables[5]['table']['rows'],len(readAggregateRanked[(readAggregateRanked[3]==1)]) ],
            ['#2',len(readAggregateRanked[(readAggregateRanked[2]==0)]),len(readAggregateRanked[(readAggregateRanked[3]==0)]) ],
            ['Puntuación',len(readAggregateRanked[(readAggregateRanked[2]==1)])*2 + len(readAggregateRanked[(readAggregateRanked[2]==0)]),len(readAggregateRanked[(readAggregateRanked[3]==1)])*2 + len(readAggregateRanked[(readAggregateRanked[3]==0)]) ],
        ]
    },
}

[['50k', '400k', 3.3597669999999997, 6.593503],
 ['250k', '2M', 17.131264, 18.553376999999998],
 ['500k', '4M', 43.918946999999996, 26.531803999999998],
 ['1M', '8M', 165.398358, 55.428371999999996],
 ['5M', '20M', 2552.0588239999997, 493.13194599999997]]

In [254]:
['Puntuación',len(updateAggregateRanked[(updateAggregateRanked[2]==1)])*2 + len(updateAggregateRanked[(updateAggregateRanked[2]==0)]),len(updateAggregateRanked[(updateAggregateRanked[3]==1)])*2 + len(updateAggregateRanked[(updateAggregateRanked[3]==0)]) ]

['Puntuación', 7, 8]

In [262]:
tables[7]

IndexError: list index out of range

In [190]:
readAgregate

          2          3
0  0.146625   6.071461
1  0.177998   8.200177
2  0.389030   9.863484
3  0.766801  10.011515
4  4.157324  12.170147

In [201]:
ranking = readAgregate.eq(readAgregate.where(readAgregate != 0).min(1), axis=0).astype(int)

In [199]:
readAgregate[readAgregate.columns[0]]

0    0.146625
1    0.177998
2    0.389030
3    0.766801
4    4.157324
Name: 2, dtype: float64

In [206]:

ranking[ranking.iloc[:,0]==1].count()

2    5
3    5
dtype: int64

In [212]:
np.count(ranking.iloc[:,0] == 1)

AttributeError: module 'numpy' has no attribute 'count'

In [216]:
len(ranking[(ranking[2]==1)])

5

In [218]:
len(ranking[(ranking[2]==0)])

0